/*https://www.politie.nl/aangifte/tanken-zonder-betalen/stap1*/


/*lijnen om de divs*/
/*div {*/
    /*box-shadow: inset 0 0 1px black;*/
/*}*/

html,body {height:100%;}
.special,.special .jumbotron {height:100%;}

.span4-height60 {
    height: 60px;
}

.topheader{
    height: 60px;
}

.headermenu .politieblauw{
    height:30px;
    background-color:#004380;
    margin-top: 20px
}

.politie_logo
{
    background:url("../img/rsz_2politie-logo.png") no-repeat center center;
    height:60px;
    width:220px;
}

.csc
{
    background:url("../img/biglogo.png") no-repeat center center;
    height:60px;
    width:220px;
}

/*body {*/
    /*margin-top:20px;*/
    /*margin-bottom:20px;*/
    /*padding-top: 20px;*/
    /*padding-bottom: 40px;*/
    /*background: #B8B8B8;*/
/*}*/

/* Fix alignment issue of label on extra small devices in Bootstrap 3.2 */
.form-horizontal .control-label{
    padding-top: 7px;
}

.navbar { border-radius:0; }

.ulNone
{
    list-style-type: none;
    padding:0; margin:0;
    margin-right: 10px;
    text-align: right;
}

html
{
    /*height: 100%;*/
}

.trajectnaambox{
    font-size: 32px;
}

.politieblauw{
    color: #004380;
}

.politiegoud{
    background: #BE9E55;
}

.paginatitel{
    font-size: 24px;
    margin-top: 10px;
    margin-left: 10px;
}

.subtitel{
    font-size: 13px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

label
{
    width: 170px;
    display: inline-block;
    vertical-align: middle;
}

.subbox_basic{
    background: #BE9E55;
    padding-left: 10px;padding-top: 20px;padding-bottom: 20px;
    display:block;
    margin-left: 20px;
    margin-right: 20px;
}

.instellen_traject_subbox_wijzig_button{
    margin-left: 180px;
}

.instellen_sectie_subbox_wijzig_button{
    margin-left: 125px;
}

.instellen_traject_toleranties_label
{
    width: 70px;
    height: 15px;
    font-size: 12px;
}
.instellen_traject_toleranties_input{
    width:50px;
    height:21px;
    text-align: center;
    font-size: 12px;
}

.instellen_traject_toleranties_input_select{
    width:70px;
    height:21px;
    text-align: center;
    font-size: 12px;
}

.instellen_traject_snelheidsmimieten_code_label
{
    width: 35px;
    height: 15px;
    font-size: 12px;
}

.instellen_traject_snelheidsmimieten_voertuigklasse_label
{
    width: 170px;
    height: 15px;
    font-size: 12px;
}


/*---------SECTIE START---------*/

.instellen_sectie_subbox_input_checkbox
{
    width:10px;
    height:13px;
}

.instellen_sectie_subbox_div{
    height:300px;
    background: #BE9E55;
    margin-right: 10px;
}

.span4_margin0{
    margin:0px ;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/*---------SECTIE END---------*/

/*---------PASSAGEGEGEVENS START---------*/

/*ALLEEN VOOR TONEN COLS*/
.box1 {
    background-color: green;
}

.rowGreen  {
    background-color:#33CC33
}

.rowRed  {
    background-color:#FF0000;
}

.rowOrange  {
    background-color:#FF9900;
}

.rowGray  {
    background-color:#EBEBEB;
}

.dark{ background-color:blue; }
.light{ background-color:yellow; }



/*.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {*/
    /*color: black !important;*/
    /*background-color: rgba(135, 35, 35, 1) !important;*/
    /*border-width: 23px !important;*/
    /*border-style: solid !important;*/
    /*border-color: #DDD #DDD transparent !important;*/
    /*-moz-border-top-colors: none !important;*/
    /*-moz-border-right-colors: none !important;*/
    /*-moz-border-bottom-colors: none !important;*/
    /*-moz-border-left-colors: none !important;*/
    /*border-image: none !important;*/
    /*cursor: default !important;*/
/*}*/


 /*----------TABS BEGIN----------*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: black  !important;
    background-color: #EBEBEB !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #DDD #DDD transparent !important;
    -moz-border-top-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    border-image: none !important;
    cursor: default !important;

    /*height: 30px !important;*/
    /*line-height: 30px !important;*/
    /*vertical-align:middle !important;*/
}

/*.nav > li > a:hover, .nav > li > a:focus {*/
    /*text-decoration: none;*/
    /*background-color: rgba(224, 236, 37, 1);*/
/*}*/

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none !important;
    background-color: #EBEBEB !important;
    color: black !important;

    /*height: 30px !important;*/
    /*line-height: 30px !important;*/
    /*vertical-align:middle !important;*/
}


.nav-tabs {
    border-bottom: 0px solid #7C3434 !important;
}

/*----------TABS END----------*/

/*-----PILLS BEGIN*/
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #ffffff !important;
    background-color: #004380 !important;
}
/*-----PILLS END*/

.custombackgroundwhite{
    background-color: white;
}
.custombackgroundgray{
    background-color: #EBEBEB;
}

.gebruikersinfo li a:visited {
    color:#004380;
}

.gebruikersinfo li a:hover {
    color:#006DDC;
}

.gebruikersinfo li a {
    text-decoration: underline;
    padding: 0 5px;
    font-weight: normal;
    line-height: 15px;
    font-size: 0.9em;
    color: #004380;
}

.button_120{
    width: 120px;height:35px;
}

.button_130{
    width: 130px;height:35px;
}

.button_90{
    width: 90px;height:35px;
}

.kolomtitel_tabel
{
    background-color: #004380;
    color: white;
    font-size: 13px;
}

.tabel_inhoud_zonder_background_color
{
    color: black;
    font-size: 12px;
}

.tabel_inhoud_met_background_color
{
    background-color: #F5F5FE;
    color: black;
    font-size: 12px;
}

.table_fixed{
    table-layout:fixed;
    width:100%;
    word-wrap:break-word;
}

.mywell {
    min-height: 20px;
    padding: 0px;
    margin-bottom: 0px;
    background-color: #f5f5f5;
    border: 0px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well-xs {
    padding: 0px;
    border-radius: 0px;
}

label {
    font-weight: normal !important;
    font-size: 12px !important;
}

/*.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {*/
    /*background-color: #EBEBEB !important;*/
/*}*/

/*.table > tbody > tr > td, .table > tbody > tr > th {*/
    /*background-color: #EBEBEB !important;*/
/*}*/

.gebruikersaccount_subbox_div{
    width:480px;
    height:250px;
}

.wachtwoord_subbox_div{
    width:480px;
    height:250px;
}

.myrow {
    display:table-row;
}
.myrowGroup {
    display:table-row-group;
    height: 12px;
}
.mycell {
    display:table-cell;
}

.subbox_div_background{
    background: #BE9E55;
    /*padding: 10px;*/
}

.msg-error {
    color:#F00;
    font-size:12px;
}

.icon-exclamation-sign {
    color: red;
}
.icon-check {
    color: green;
}
.password-form {
    padding-top: 1em;
    float: left
}
.password-rules {
    float: left;
}

.password-rules ul {
    list-style-type: none;
    margin: 0;
}
.hero-unit {
    padding: 30px;
}

.using {
    font-size: small;
    line-height: normal;
}

/*CENTER BUTTON*/
.centerButtonWrapper {
    text-align: center;
}

.centerButton {
    left: 50%;
}

/*
http://stackoverflow.com/questions/11249768/angularjs-ng-cloak-ng-show-elements-blink*/
/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.label_basic
{
    width: 150px !important;
    height: 12px !important;
    font-size: 12px !important;
}

.label_basic_170
{
    width: 170px !important;
    height: 12px !important;
    font-size: 12px !important;
}

.error_list{
    font-size: 12px !important;
    color: red;
    margin-right: 20px;
}

.label_fout
{
    color: red;
    width: 300px !important;
    margin-bottom: 20px;
}

.input_select_basic{
    width: 120px !important;
    padding-left: 0px !important;
}

.input_select_basic_left{
    width: 20px !important;
    padding-left: 0px !important;
}

.input_basic {
    height: 21px !important;
    font-size: 12px !important;
    width: 120px !important;
    padding-left: 0px !important;
}

.input_basic_350{
    height:21px !important;
    font-size: 12px !important;
    width: 350px !important;
    padding-left: 0px !important;
}

.input_basic_middle{
    height:21px !important;
    font-size: 12px !important;
    width: 450px !important;
    padding-left: 0px !important;
}

.input_basic_long{
    height:300px !important;
    font-size: 12px !important;
    width: 450px !important;
    padding-left: 0px !important;
}

.input_list_basic {
    height: 84px !important;
    font-size: 12px !important;
    width: 120px !important;
    padding-left: 0px !important;
}

.input_list_basic_wide {
    font-size: 12px !important;
}

.form-group_list{
    height: 84px !important;
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.form-group_list_wide{
    height: 160px !important;
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.label_basic_list
{
    width: 150px !important;
    height: 84px !important;
    font-size: 12px !important;
}

.input_basic_select{
    padding: 2px !important;
    border-width: 1px  !important;
}

.input_basic_select_periodeschema{
    height:21px !important;
    font-size: 12px !important;
    padding-left: 0px !important;
    width: 100px !important;
}

.input_basic_select_periodeschema_snelheid{
    height:21px !important;
    font-size: 12px !important;
    padding-left: 0px !important;
    width: 50px !important;
}

.form-group{
    height: 22px !important;
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.vertical_align_glyphicon{
    vertical-align: middle
}

input[type="checkbox"] {
    margin: 0px 0px 0px !important;
    line-height: normal;
    font-size: 12px !important;
}

/*TODOOOO KIJKEN NAAR*/
/*http://stackoverflow.com/questions/19089384/twitter-bootstrap-3-two-columns-full-height*/
/* Fix for Bootstrap 3 with Angular UI Bootstrap */

.modal {
    display: block;
}

/* Custom dialog/modal headers */

.dialog-header-error { background-color: #d2322d; }
.dialog-header-wait { background-color: #428bca; }
.dialog-header-notify { background-color: #eeeeee; }
.dialog-header-confirm { background-color: #333333; }
.dialog-header-error span, .dialog-header-error h4,
.dialog-header-wait span, .dialog-header-wait h4,
.dialog-header-confirm span, .dialog-header-confirm h4 { color: #ffffff; }

/* Ease Display */

.pad { padding: 25px; }



/*NOG WEG*/
.proxied-field-wrap {
    /*     position:relative;
        height:0;
        width:0;
        overflow:hidden;
        margin:0;
        padding:0;
        input {
            position:absolute;
            top:0;
            left:0;
            }
         */
}

.label_basic_title
{
    width: 150px !important;
    height: 12px !important;
    font-size: 16px !important;
}

.label_basic_long
{
    width: 250px !important;
    height: 12px !important;
    font-size: 12px !important;
}

.error
{
    /*border-color: #a94442;*/
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
    border: 1px solid red;
}

.image_csc{
    background-image:url("../img/biglogo.png");
    background-position:55px bottom;
    background-repeat:no-repeat;
}

.storingen_error{
    color:red!important;
}

.storingen_ok{
    color:green!important;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #FFF;
    background-color: #004380 !important;
    border-color: #004380 !important;
    cursor: default;
}

/*.ng-invalid-float{border: 1px solid red;}*/
/*.ng-invalid-float {*/
    /*border-color: #a94442;*/
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
/*}*/

/*.ng-invalid-float {*/
    /*color: #a94442;*/
    /*border-color: #a94442;*/
    /*background-color: #f2dede;*/
/*}*/

/*.ng-invalid-float {*/
    /*border-color: #843534;*/
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;*/
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;*/
/*}*/

.controls .error-style{border-style:solid;border-color: #b94a48;}

.blank_row
{
    border: none !important; /* Overwrite any previous rules */;
    height: 10px !important; /* Overwrite any previous rules */
    background-color: #FFFFFF;
}

.ul_error{
    padding-left: 15px!important;
    margin-bottom: 0px!important
}
.ul_error_last{
    padding-left: 15px!important;
    margin-bottom: 20px!important
}

.ul_error_first{
    padding-left: 15px!important;
    margin-top: 20px!important
}
.div_error{
    padding-left: 0px!important;
    margin-top: 20px!important;
    margin-bottom: 0px!important
}
.div_error_statistiek{
    padding-left: 0px!important;
    margin-top: 20px!important;
    margin-left: 20px!important;
    margin-bottom: 20px!important;
    text-align: left!important;

}

