<div ng-form="accountgegevens-partial" novalidate>
    <div class="form-horizontal subbox_basic">
        <div  class="form-group">
            <label class="label_basic" for="Gebruiker">Gebruiker:</label>
            <input class="input_basic" id="Gebruiker" type="text"
                   ng-model="gebruiker.naam" ng-disabled="true" style="border: none;background-color: #BE9E55"/>
        </div>

        <div  class="form-group">
            <label class="label_basic" for="Gebruikersnaam">Gebruikersnaam:</label>
            <input class="input_basic" id="Gebruikersnaam" type="text"
                   ng-model="gebruiker.gebruikersNaam" ng-disabled="true" style="border: none;background-color: #BE9E55"/>
        </div>

        <div  class="form-group">
            <label class="label_basic" for="Verbalisantnummer">Verbalisantnummer:</label>
            <input class="input_basic" id="Verbalisantnummer" type="text"
                   ng-model="gebruiker.verbalisantNummer" ng-disabled="true" style="border: none;background-color: #BE9E55"/>
        </div>

        <div  class="form-group">
            <label class="label_basic" for="Rol">Rol:</label>
            <input class="input_basic" id="Rol" type="text"
                   ng-model="gebruiker.rol" ng-disabled="true" style="border: none;background-color: #BE9E55"/>
        </div>
    </div>
</div>
