<div novalidate>

    <p class="politieblauw paginatitel">Gebruikersaccount</p>
    <p class="politieblauw subtitel">Accountgegevens</p>

        <div class="row">
            <div id="accountgegevens" class="col-xs-12 ">
                <div ng-include src="'app/views/gebruikers/accountgegevens-partial.html'"></div>

                <p class="politieblauw subtitel">Wachtwoord wijzigen</p>
                <div ng-include src="'app/views/gebruikers/wachtwoord-partial.html'"></div>
            </div>
        </div>

</div>