    <div ng-form="wachtwoord_partial" name="wachtwoord_partial" novalidate>
    <div class="form-horizontal subbox_basic">

        <div  class="form-group">
        <label class="label_basic" for="huidigWachtwoord">Huidig wachtwoord</label>
        <input class="input_basic" id="huidigWachtwoord"
               type="password"
               ng-model="wachtwoordModel.huidigWachtwoord"
               required
               ng-disabled="getinputDisabledWachtwoord()" />
        <i style="cursor: hand" class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip" title="Eisen aan wachtwoord: Het bestaat uit minimaal acht tekens. Het moet tenminste één letter, één cijfer en één leesteken bevatten. Het wachtwoord mag niet hetzelfde zijn als de gebruikersnaam. Het wachtwoord mag niet hetzelfde zijn als de drie wachtwoorden die daarvoor zijn gebruikt."></i>
        </div>
            <div  class="form-group">
        <label class="label_basic" for="nieuwWachtwoord">Nieuw wachtwoord</label>
        <input class="input_basic"
               id="nieuwWachtwoord"
               name="nieuwWachtwoord"
               type="password"
               ng-model="wachtwoordModel.nieuwWachtwoord"
               required
               ng-disabled="getinputDisabledWachtwoord()"
               complex-password/>
            </div>
                <div  class="form-group">
        <label class="label_basic" for="nogmaalsnieuwWachtwoord">Nogmaals nieuw wachtwoord</label>
        <input class="input_basic"
               id="nogmaalsnieuwWachtwoord"
               name="nogmaalsnieuwWachtwoord"
               type="password"
               ng-model="wachtwoordModel.nogmaalsnieuwWachtwoord"
               required
               ng-disabled="getinputDisabledWachtwoord()"
               pw-check="nieuwWachtwoord"/>
                </div>

<!-- ng-disabled="(wachtwoord_partial.$pristine) ? false: wachtwoord_partial.$invalid || buttonDisabledWachtwoord"-->
        <!--<button style="margin-top: 10px;margin-left: 153px" type="button"-->
                <!--ng-disabled="wachtwoord_partial.$invalid || buttonDisabledWachtwoord"-->
                <!--class="button_120 instellen_sectie_subbox_wijzig_button"-->
                <!--ng-click="(getinputDisabledWachtwoord() ? wijzigenWachtwoord() : wachtwoordOpslaan(wachtwoord_partial))">-->
                    <!--{{(getinputDisabledWachtwoord() && !buttonDisabledWachtwoord ? "Wijzig" : "Bewaar")}}</button>-->

        <button style="margin-top: 10px;margin-left: 153px" type="button"
                ng-disabled="buttonDisabledWachtwoord"
                class="button_120 instellen_sectie_subbox_wijzig_button"
                ng-click="wijzigenWachtwoord() "
                ng-show="!isEditing">
                    Wijzig</button>
        <button style="margin-top: 10px;margin-left: 153px" type="button"
                ng-disabled="wachtwoord_partial.$invalid || buttonDisabledWachtwoord"
                class="button_120 instellen_sectie_subbox_wijzig_button"
                ng-click="wachtwoordOpslaan(wachtwoord_partial)"
                ng-show="isEditing"
                >
                Opslaan</button>

        <br/>
        <ul>
            <li class="msg-error" ng-show="huidigeWachtwoordError">
                {{wachtwoordModel.error}}
            </li>
            <li class="msg-error" ng-show="wachtwoord_partial.nogmaalsnieuwWachtwoord.$error.pwmatch">
                De wachtwoorden komen niet overeen.
            </li>
            <li class="msg-error" ng-show="wachtwoord_partial.nieuwWachtwoord.$error.complexity">
                Eisen aan wachtwoord: Het bestaat uit minimaal acht tekens. Het moet tenminste één letter, één cijfer en één leesteken
                bevatten. Het wachtwoord mag niet hetzelfde zijn als de gebruikersnaam. Het wachtwoord mag niet hetzelfde zijn als de drie wachtwoorden die daarvoor zijn gebruikt.
            </li>
        </ul>
    </div>
    </div>

<!--http://ericpanorel.net/2013/10/05/angularjs-password-match-form-validation/-->