<div  ng-if="id==0"  novalidate>
    <p class="politieblauw paginatitel">Instellingen - Traject</p>
    <p class="politieblauw subtitel">Trajectinstellingen</p>

    <div class="row">
        <div id="traject" class="col-xs-12">
            <div ng-include src="'app/views/instellingen/instellingen-traject-partial.html'"></div>
        </div>
    </div>

    <div class="row">
        <div id="toleranties" class="col-xs-6">
            <div ng-include src="'app/views/instellingen/instellingen-toleranties-partial.html'" style="padding-left: 20px"></div>
         </div>
        <div id="snelheidslimieten" class="col-xs-6">
            <div ng-include src="'app/views/instellingen/instellingen-snelheidslimieten-partial.html'" style="padding-left: 20px"></div>
        </div>
    </div>
</div>


<div  ng-if="id!=0" ng-form="innerForm" novalidate>
    <p class="politieblauw paginatitel">Instellingen - Sectie {{title}}</p>
    <p class="politieblauw subtitel">Sectie-instellingen</p>

    <div id="subboxsectie" class="subbox_basic" >

        <div class="row">
            <div ng-include src="'app/views/instellingen/instellingen-sectie-partial.html'"></div>
        </div>
    </div>

    <div class="row">
        <div id="sectie_bottom" class="col-xs-12">
            <div ng-include src="'app/views/instellingen/instellingen-sectie-periodeschema-partial.html'"></div>
        </div>
    </div>
</div>




