<div ng-form="instellingen_traject_partial"
     name="instellingen_traject_partial"
     class="form-horizontal subbox_basic" novalidate>

    <div  class="form-group">
        <label class="label_basic_170" for="ESA pardontijd">ESA pardontijd</label>
        <input class="input_basic" id="ESA pardontijd" name="ESApardontijd" type="text"
               ng-model="system.system.data.pardonTimes.pardonTimeEsa_secs"
               integer
               required
               ng-disabled="getinputDisabledTraject()"
               ng-trim="false"
               minlength="1"
               maxlength="2"
               intmin="0"
               intmax="60"
                />
        <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip" title="Waarde in seconde tussen 0 en 60"></i>
    </div>

    <div class="form-group">
        <label class="label_basic_170" for="Technische pardontijd">Technische pardontijd</label>
        <input class="input_basic" id="Technische pardontijd" name="Technischepardontijd" type="text"
               ng-model="system.system.data.pardonTimes.pardonTimeTechnical_secs"
               required
               ng-disabled="getinputDisabledTraject()"
               ng-trim="false"
               integer
               minlength="1"
               maxlength="2"
               intmin="0"
               intmax="60"
                />
        <i style="cursor: hand" class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip" title="Waarde in seconde tussen 0 en 60"></i>
    </div>

    <div  class="form-group">
        <label class="label_basic_170" for="Bewaarperiode passages">Bewaarperiode passages</label>
        <input class="input_basic" id="Bewaarperiode passages" name="Bewaarperiodepassages" type="text"
               ng-trim="false"
               integer
               ng-model="system.system.data.retentionTimes.nrDaysKeepTrafficData"
               required
               ng-disabled="getinputDisabledTraject()"
               minlength="1"
               maxlength="1"
               integer
               intmin="1"
               intmax="8" />
        <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip" title="Waarde in dagen tussen 1 en 8"></i>
    </div>

    <div  class="form-group">
        <label class="label_basic_170" for="Bewaarperiode overtredingen">Bewaarperiode overtredingen</label>
        <input class="input_basic" id="Bewaarperiode overtredingen" name="Bewaarperiodeovertredingen" type="text"
               ng-model="system.system.data.retentionTimes.nrDaysKeepViolations"
               required
               ng-trim="false"
               ng-disabled="getinputDisabledTraject()"
               minlength="1"
               maxlength="1"
               integer
               intmin="1"
               intmax="5"
               />
        <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip" title="Waarde in dagen tussen 1 en 5 waarna niet opgehaalde overtredingen worden verwijderd"></i>
    </div>

    <ul  ng-show="showTrajectErrors" ng-messages="instellingen_traject_partial.ESApardontijd.$error" class="msg-error ul_error" >
        <li ng-message="required,intmax,intmin,int">Geen geldige ESA pardontijd ingevoerd. Vul een waarde in seconden in tussen 0 en 60.</li>
    </ul>

    <ul ng-show="showTrajectErrors" ng-messages="instellingen_traject_partial.Technischepardontijd.$error" class="msg-error ul_error" >
        <li ng-message="required,intmax,intmin,int">Geen geldige technische pardontijd ingevoerd. Vul een waarde in seconden in tussen 0 en 60.</li>
    </ul>

    <ul ng-show="showTrajectErrors" ng-messages="instellingen_traject_partial.Bewaarperiodepassages.$error" class="msg-error ul_error" >
        <li ng-message="required,intmax,intmin,int">Geen geldige databewaarperiode voor passages ingevoerd. Vul een waarde in dagen in tussen 1 en 8.</li>
    </ul>

    <ul ng-show="showTrajectErrors" ng-messages="instellingen_traject_partial.Bewaarperiodeovertredingen.$error" class="msg-error ul_error_last" >
        <li ng-message="required,intmax,intmin,int">Geen geldige databewaarperiode voor overtredingen ingevoerd. Vul een waarde in dagen in tussen 1 en 5.</li>
    </ul>

    <button style="margin-left: 22px"
            type="button"
            ng-disabled="instellingen_traject_partial.$invalid || isEditDisabledForUser() || buttonDisabledTraject"
            class="button_120"
            ng-click="(getinputDisabledTraject() ? wijzigenTraject() : bewaarTraject(instellingen_traject_partial))">
                {{(getinputDisabledTraject() && !buttonDisabledTraject ? "Wijzig" : "Opslaan")}}</button>

    <button type="button" style="margin-left: 10px"
            ng-disabled="isEditDisabledForUser() || buttonDisabledTraject || getinputDisabledTraject()"
            class="button_120"
            ng-click="annulerenTraject(instellingen_traject_partial)">
            Annuleren</button>
</div>
