<div id="instellingen_sectie" name="instellingen_sectie" ng-form="instellingen_sectie"

     novalidate>
    <div  class="col-xs-6" >
        <div>
            <div  class="form-group">
                <label class="label_basic" for="Sectienummmer">Sectieaanduiding</label>
                <input class="input_basic" id="Sectienummmer" name="Sectienummmer" type="text" ng-model="sectie.naam"
                       ng-disabled="true"/>
            </div>

            <div  class="form-group">
                <label class="label_basic" for="HmpPassagepuntIn">Hmp passagepunt In</label>
                <input class="input_basic" id="HmpPassagepuntIn" name="HmpPassagepuntIn" type="text" ng-model="passagepuntIn"
                          ng-disabled="true"/>
            </div>

            <div  class="form-group">
                <label class="label_basic" for="HmpPassagepuntUit">Hmp passagepunt Uit</label>
                <input class="input_basic" id="HmpPassagepuntUit" name="HmpPassagepuntUit" type="text" ng-model="passagepuntUit"
                       ng-disabled="true"/>
            </div>

            <div  class="form-group">
                <label class="label_basic" for="locatieBegin">Locatie 1</label>
                <input class="input_basic" id="locatieBegin" name="locatieBegin"  type="text" ng-model="sectie.locatieBegin"
                       required
                       ng-maxlength="45"
                       maxlength="45"
                       ng-disabled="getinputDisabledSectie()"/>
                <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip"
                   title="De tekstuele aanduiding van de plaats van het handhavingsmiddel.">
                </i>
            </div>

            <div  class="form-group">
                <label class="label_basic" for="locatieEind">Locatie 2</label>
                <input class="input_basic" id="locatieEind" name="locatieEind" type="text" ng-model="sectie.locatieEind"
                       ng-maxlength="45"
                       maxlength="45"
                       ng-disabled="getinputDisabledSectie()"/>
                <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip"
                   title="Een tweede veld (extra ruimte) voor de plaatsaanduiding van het handhavingsmiddel.">
                </i>
            </div>

            <div  class="form-group">
                <label class="label_basic" for="RichtingVan">Richting van</label>
                <input class="input_basic" id="RichtingVan" name="RichtingVan" type="text" ng-model="sectie.richtingVan"
                       required
                       ng-maxlength="25"
                       maxlength="25"
                       ng-disabled="getinputDisabledSectie()"/>
                <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip"
                   title="De richting (plaatsnaam) vanwaar het voertuig afkomstig was.">
                </i>
            </div>

            <div  class="form-group">
                <label class="label_basic" for="RichtingNaar">Richting naar</label>
                <input class="input_basic" id="RichtingNaar" name="RichtingNaar" type="text" ng-model="sectie.richtingNaar"
                       required
                       ng-maxlength="25"
                       maxlength="25"
                       ng-disabled="getinputDisabledSectie()"/>
                <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip"
                   title="De richting (plaatsnaam) waarheen het voertuig ging.">
                </i>
            </div>
        </div>
    </div>
    <div class="col-xs-6" >
        <div name="instellingen_sectie_right_partial">
            <div  class="form-group">
                <label class="label_basic" for="CodePleegPlaats">Code pleegplaats</label>
                <input class="input_basic" id="CodePleegPlaats" name="CodePleegPlaats"
                       type="text"
                       ng-pattern="/^[0-9 ]*$/"
                       ng-model="sectie.codePleegPlaats"
                       required
                       ng-maxlength="5"
                       ng-minlength="5"
                       maxlength="5"
                       ng-trim="false"
                       ng-disabled="getinputDisabledSectie()"/>
                <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip"
                   title="De pleegplaats heeft bij trajectcontrole betrekking op het exit passagepunt. Bestaat uit 5 cijfers en/of spaties."></i>
            </div>

            <div  class="form-group">
                <label class="label_basic" for="ProjectCode">Projectcode</label>
                <input class="input_basic" id="ProjectCode" name="ProjectCode" type="text" ng-model="sectie.projectCode"
                       required
                       ng-maxlength="6"
                       maxlength="6"
                       ng-minlength="6"
                       minlength="6"
                       ng-pattern="/^[a-zA-Z0-9]*$/"
                       ng-disabled="getinputDisabledSectie()"/>
                <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip"
                   title="De projectcode van de sectie. Bestaat uit 6 tekens."></i>
            </div>

            <div  class="form-group">
                <label class="label_basic" for="RadarCode">Radarcode</label>
                <input class="input_basic" id="RadarCode" name="RadarCode" type="number" ng-model="sectie.radarCode"
                       required
                       ng-maxlength="1"
                       maxlength="1"
                       ng-disabled="getinputDisabledSectie()"/>
                <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip"
                   title="De code van de gebruikte meetsystematiek. Deze wordt door de betreffende transactiemodule beheerder bepaald. Bestaat uit 1 cijfer."></i>
            </div>

            <div  class="form-group">
                <label class="label_basic" for="CodeTekst">Codetekst</label>
                <input class="input_basic" id="CodeTekst" name="CodeTekst"
                       type="text"
                       ng-model="sectie.codeTekst"
                       ng-pattern="/^[0-9]*$/"
                       required
                       maxlength="2"
                       ng-maxlength="2"
                       ng-minlength="2"
                       ng-disabled="getinputDisabledSectie()"/>
                <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip" title="Een code die aangeeft welk stuk tekst er bij het proces-verbaal geplaatst moet worden. Bestaat uit 2 cijfers."></i>
            </div>

            <div  class="form-group">
                <label class="label_basic" for="WegCode">Wegcode</label>
                <input class="input_basic" id="WegCode" name="WegCode"
                       type="text"
                       ng-pattern="/^[0-9]*$/"
                       ng-model="sectie.wegCode"
                       required
                       maxlength="4"
                       ng-maxlength="4"
                       ng-minlength="4"
                       ng-disabled="getinputDisabledSectie()"/>
                <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip" title="Unieke code van de (snel)weg waar de overtreding heeft plaatsgevonden. Deze viercijferige code ligt vast in de transactiemodule en is uniek per regio. Bestaat uit 4 cijfers."></i>
            </div>

            <div  class="form-group">
                <label class="label_basic" for="SoortWeg">Soort Weg</label>
                <select class="input_basic input_basic_select" id="SoortWeg" ng-model="sectie.soortWeg"
                data-ng-options="o.Omschrijving for o in soortenWeg track by o.id" required ng-disabled="getinputDisabledSectie()">
                <option value="">-- Kies --</option>
                </select>

                <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip" title="Type/soort weg waarop de overtreding heeft plaatsgevonden:
               1: autosnelweg;
               2: autoweg;
               3: weg buiten de bebouwde kom;
               5: weg binnen de bebouwde kom."></i>
            </div>

            <div  class="form-group">
                <label class="label_basic" for="BinnenBebouwdeKom">Binnen de bebouwde kom</label>
                <select class="input_basic input_basic_select" id="BinnenBebouwdeKom" ng-model="sectie.binnenBebouwdeKom"
                        data-ng-options="o.v as o.n for o in [{ n: 'Ja', v: true },{ n: 'Nee', v: false }]"
                        required
                        ng-disabled="getinputDisabledSectie()">
                    <option value="">-- Kies --</option>
                </select>

                <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip"
                title="Indicatie of de overtreding plaatsvond binnen of buiten de bebouwde kom.">
                </i>
            </div>

            <button class="button_120"
                    ng-disabled="instellingen_sectie.$invalid || isEditDisabledForUser() ||  buttonDisableSectie "
                    ng-click="(getinputDisabledSectie() ? wijzigenSectie() : bewaarSectie())">
                {{(getinputDisabledSectie() && !buttonDisableSectie ? "Wijzig" : "Opslaan")}}</button>

            <button type="button" style="margin-left: 10px"
                    ng-disabled="isEditDisabledForUser() || buttonDisableSectie || getinputDisabledSectie()"
                    class="button_120"
                    ng-click="annulerenSectie(instellingen_traject_partial)">
                Annuleren</button>
        </div>
    </div>

    <div class="col-xs-12" >
        <ul  ng-show="showSectieErrors" ng-messages="instellingen_sectie.Sectienummmer.$error" class="msg-error ul_error_first" >
            <li ng-message="required,maxlength,pattern">Geen geldig sectienummer ingevoerd. Vul een waarde in bestaande uit maximaal 20 cijfers en/of letters, zonder spaties.</li>
        </ul>
        <ul  ng-show="showSectieErrors" ng-messages="instellingen_sectie.CodePleegPlaats.$error" class="msg-error ul_error" >
            <li ng-message="required,maxlength,minlength,pattern">Geen geldige code pleegplaats ingevoerd. Vul een waarde van 5 cijfers in zoals vastgelegd in de transactiemodule.</li>
        </ul>
        <ul  ng-show="showSectieErrors" ng-messages="instellingen_sectie.ProjectCode.$error" class="msg-error ul_error" >
            <li ng-message="required,maxlength,minlength,pattern">Geen geldige projectcode ingevoerd. Vul een waarde in van 6 cijfers en/of letters.</li>
        </ul>
        <ul  ng-show="showSectieErrors" ng-messages="instellingen_sectie.RadarCode.$error" class="msg-error ul_error" >
            <li ng-message="required,maxlength,number">Geen geldige radarcode ingevoerd. Vul een getal in van één cijfer.</li>
        </ul>
        <ul  ng-show="showSectieErrors" ng-messages="instellingen_sectie.CodeTekst.$error" class="msg-error ul_error" >
            <li ng-message="required,maxlength,minlength,pattern">Geen geldige codetekst ingevoerd. Vul een getal in van twee cijfers.</li>
        </ul>
        <ul  ng-show="showSectieErrors" ng-messages="instellingen_sectie.WegCode.$error" class="msg-error ul_error" >
            <li ng-message="required,maxlength,minlength,pattern">Geen geldige wegcode ingevoerd. Vul een getal in van vier cijfers.</li>
        </ul>
        <ul  ng-show="showSectieErrors" ng-messages="instellingen_sectie.locatieBegin.$error" class="msg-error ul_error" >
            <li ng-message="required,maxlength">Geen geldige locatie 1 ingevoerd. Vul een waarde in van maximaal 45 karakters.</li>
        </ul>
        <ul  ng-show="showSectieErrors" ng-messages="instellingen_sectie.RichtingVan.$error" class="msg-error ul_error" >
            <li ng-message="required,maxlength">Geen geldige richting van ingevoerd. Vul een waarde in van maximaal 25 karakters.</li>
        </ul>
        <ul  ng-show="showSectieErrors" ng-messages="instellingen_sectie.RichtingNaar.$error" class="msg-error ul_error" >
            <li ng-message="required,maxlength">Geen geldige richting naar ingevoerd. Vul een waarde in van maximaal 25 karakters.</li>
        </ul>

    </div>
</div>
