<div ng-form="instellingen_sectie_periodeschema" id="instellingen_sectie_periodeschema" name="instellingen_sectie_periodeschema"  novalidate>
    <p class="politieblauw subtitel">Periodeschema</p>
    <div style="padding-left: 20px">


        <table >
            <thead>
            <tr class="kolomtitel_tabel">
                <td style="display:none">index</td>
                <td style="display:none">id</td>
                <td>Begintijd</td>
                <td>Eindtijd</td>
                <td>Snelheids limiet</td>
                <td>Indicatie bord</td>
                <td>Soort bord</td>
                <td>Ondersteuning MSG</td>
                <td></td>
            </tr>
            </thead>
            <tbody>

            <tr class="tabel_inhoud_met_background_color" ng-repeat="periodeSchema in periodeschemas | orderBy:'periodeSchema.snelheidsLimiet'">
                <td data-ng-show="false">{{$index + 1}}</td>
                <td data-ng-show="false">{{periodeSchema.id}}</td>

                <td style="width:55px;padding-top: 0px;padding-bottom: 0px;vertical-align: middle;">
                    <span style="padding-left:2px" data-ng-hide="periodeSchema.editMode">{{periodeSchema.beginTijd}}</span>
                    <input style="width:50px;padding-top: 0px;padding-bottom: 0px;vertical-align: middle;"
                           type="text" data-ng-show="periodeSchema.editMode"
                           data-ng-model="periodeSchema.beginTijd"
                           placeholder="uu:mm"
                           required
                           hourminute-Time
                           id="beginTijd"
                           name="beginTijd"
                            />
                </td>

                <td style="width:55px;padding-top: 0px;padding-bottom: 0px;vertical-align: middle;">
                    <span style="padding-left:2px" data-ng-hide="periodeSchema.editMode">{{periodeSchema.eindTijd}}</span>
                    <input style="width:50px;padding-top: 0px;padding-bottom: 0px;vertical-align: middle;" type="text" data-ng-show="periodeSchema.editMode"
                           data-ng-model="periodeSchema.eindTijd"
                           placeholder="uu:mm"
                           required
                           hourminute-Time
                           id="eindTijd"
                           name="eindTijd"
                            />
                </td>

                <td style="width:85px;padding-top: 0px;padding-bottom: 0px;vertical-align: middle;">
                    <span  style="width:85px;padding-left:2px;padding-top: 0px;padding-bottom: 0px;vertical-align: middle;"
                           data-ng-hide="periodeSchema.editMode">{{periodeSchema.snelheidsLimiet}}</span>
                    <select style="width:85px;" data-ng-show="periodeSchema.editMode"
                            class="input_basic_select"
                            id="{{item.maxSpeed}}"
                            ng-model="periodeSchema.snelheidsLimiet"
                            data-ng-options="o.key as o.value for o in snelheden"
                            required
                            >
                        <option value="">-- Kies --</option>
                    </select>
                </td>

                <td align="center" l style="width:85px;padding-top: 0px;padding-bottom: 0px;vertical-align: middle;">
                    <span style="width:85px;padding-left:2px;padding-top: 0px;padding-bottom: 0px;vertical-align: middle;" data-ng-hide="periodeSchema.editMode">
                        {{periodeSchema.indicatieBord?"Ja":"Nee"}}</span>

                    <input style="width:85px;vertical-align: middle;" id="indicatieBord" name="indicatieBord"  type="checkbox"
                           data-ng-show="periodeSchema.editMode"
                           ng-model="periodeSchema.indicatieBord" />
                </td>

                <td style="width:85px;padding-top: 0px;padding-bottom: 0px;vertical-align: middle;">
                    <span  style="width:85px;padding-left:2px;padding-top: 0px;padding-bottom: 0px;vertical-align: middle;"
                           data-ng-hide="periodeSchema.editMode">{{periodeSchema.soortBord.substring(periodeSchema.soortBord.indexOf("$")+1)}}</span>
                    <select style="width:85px" class="input_basic_select" id="soortBord"
                            ng-model="periodeSchema.soortBord"
                            data-ng-options="soortBord for soortBord in getSoortBord"
                            data-ng-show="periodeSchema.editMode"
                            ng-disabled="!periodeSchema.indicatieBord"
                            ng-required="periodeSchema.indicatieBord"
                            >
                        <option value="">-- Kies --</option>
                    </select>
                </td>


                <td style="width:85px;padding-top: 0px;padding-bottom: 0px;vertical-align: middle;">
                    <span  style="width:85px;padding-left:2px;padding-top: 0px;padding-bottom: 0px;vertical-align: middle;"
                           data-ng-show="periodeSchema.editMode==false && esaProviderType=='EsaProviderType$Mtm'"
                            >
                        {{periodeSchema.supportMsgBoard?"Ja":"Nee"}}</span>
                    <input style="width:85px;vertical-align: middle;" id="supportMsgBoard"
                           name="supportMsgBoard"
                           type="checkbox"
                           data-ng-show="periodeSchema.editMode && esaProviderType=='EsaProviderType$Mtm'"
                           ng-model="periodeSchema.supportMsgBoard"/>
                </td>

                <td style="width:210px;padding-top: 0px;padding-bottom: 0px;vertical-align: middle;">
                    <button style="width: 67px" ng-disabled="isEditDisabledForUser() || instellingen_sectie_periodeschema.$invalid"  data-ng-show="periodeSchema.editMode" data-ng-click="savePeriodeschema($index)" >Opslaan</button>
                    <button style="width: 67px" ng-disabled="isEditDisabledForUser() || editingInProgress"  data-ng-show="!periodeSchema.editMode" data-ng-click="periodeSchema.editMode = true; editPeriodeschema($index)" >Wijzig</button>
                    <button style="width: 67px" ng-disabled="isEditDisabledForUser() || periodeSchema.editMode==false"  data-ng-click="annuleerPeriodeschema($index)" >Annuleer</button>
                    <button style="width: 67px" ng-disabled="isEditDisabledForUser() || editingInProgress"   data-ng-click="true;deletePeriodeschema($index)" >Verwijder</button>
            </tr>
            </tbody>
        </table>

        <button style="float: right;margin-top: 20px;margin-right: 20px " type="button"
                ng-disabled="isEditDisabledForUser() || editingInProgress || isMaxPeriodeschemasBereikt()"
                data-ng-click="toevoegenPeriode()" class="button_130">Regel toevoegen</button>

        <div class="div_error">
            <ul ng-show="showPeriodeSchemaErrors && instellingen_sectie_periodeschema.beginTijd.$dirty" ng-messages="instellingen_sectie_periodeschema.beginTijd.$error" class="msg-error ul_error" >
                <li ng-message="required,hourminutetime">Geen geldige begintijd ingevoerd. Vul een tijdstip in volgens het formaat uu:mm.</li>
            </ul>
            <ul ng-show="showPeriodeSchemaErrors && instellingen_sectie_periodeschema.eindTijd.$dirty" ng-messages="instellingen_sectie_periodeschema.eindTijd.$error" class="msg-error ul_error" >
                <li ng-message="required,hourminutetime">Geen geldige eindtijd ingevoerd. Vul een tijdstip in volgens het formaat uu:mm.</li>
            </ul>
            <ul ng-show="errorMessagePeriodeSchema.fields.length>0" class="msg-error ul_error">
                <li ng-repeat="field in errorMessagePeriodeSchema.fields">{{field.error}}</li>
            </ul>
        </div>
    </div>
</div>
