<div style="margin-top: 20px;padding-left: 10px" ng-form="instellingen_toleranties_partial" name="instellingen_toleranties_partial" novalidate>
    <label class="instellen_traject_toleranties_label" >Snelheid</label>
    <label class="instellen_traject_toleranties_label" >Tolerantie</label>
    <br/>


    <div  ng-repeat="item in items.data.marginSpeedLimits">
        <div style="margin-bottom: 5px" class="form-group">
        <label  style="padding-top: 1px" class="instellen_traject_toleranties_label" for="{{item.speedLimit}}">{{item.speedLimit}}</label>
        <input  class="instellen_traject_toleranties_input" name="{{item.speedLimit}}" id="{{item.speedLimit}}"
               intmin="1"
               integer
               minlength="1"
               maxlength="2"
               type="text"
               ng-model="item.speedMargin"
               required
               ng-trim="false"
               ng-disabled="getinputDisabledToleranties()"/>
         </div>
    </div>

    <ul  ng-show="true" ng-messages="instellingen_toleranties_partial.$error" class="msg-error ul_error_last" >
        <li ng-message="required,intmin,int">Geen geldige tolerantie ingevoerd. Vul een positief, geheel getal in.</li>
    </ul>

    <button style="margin-top: 20px"
            ng-disabled="instellingen_toleranties_partial.$invalid || isEditDisabledForUser() || buttonDisabledToleranties"
            class="button_120"
            ng-click="(getinputDisabledToleranties() ? wijzigenToleranties() : bewaarToleranties())">
                {{(getinputDisabledToleranties() && !buttonDisabledToleranties ? "Wijzig" : "Opslaan")}}</button>

    <button type="button" style="margin-left: 10px"
            ng-disabled="isEditDisabledForUser() || buttonDisabledToleranties || getinputDisabledToleranties()"
            class="button_120"
            ng-click="annulerenToleranties(instellingen_traject_partial)">
        Annuleren</button>
</div>
