<div style="margin-top: 20px" ng-form="instellingen_snelheden_partial" name="instellingen_snelheden_partial" novalidate>
    <label class="instellen_traject_snelheidsmimieten_code_label" >Code</label>
    <label class="instellen_traject_snelheidsmimieten_voertuigklasse_label" >Voertuigklasse</label>
    <label class="instellen_traject_toleranties_label" >Snelheidslimiet</label>
    <br/>

    <div  ng-repeat="item in items.data.vehicleMaxSpeed  | orderBy: 'vehicleType' | filter:filterFn">
        <div style="margin-bottom: 5px" class="form-group">
            <label style="padding-top: 1px" class="instellen_traject_snelheidsmimieten_code_label" for="{{item.maxSpeed}}">{{item.vehicleType.substring(item.vehicleType.indexOf("$")+1)}}</label>
            <label style="padding-top: 1px" class="instellen_traject_snelheidsmimieten_voertuigklasse_label" for="{{item.maxSpeed}}">{{getSnelheidslimietOmschrijving(item.vehicleType.substring(item.vehicleType.indexOf("$")+1))}}</label>
            <input  class="instellen_traject_toleranties_input" name="{{item.maxSpeed}}" id="{{item.maxSpeed}}"
                    integer
                    ng-pattern="/^(30|50|60|70|80|90|100|110|120|130)$/"
                    type="text"
                    ng-model="item.maxSpeed"
                    required
                    ng-trim="false"
                    ng-disabled="getinputDisabledSnelheidslimieten()"/>
        </div>
    </div>

    <ul  ng-show="true" ng-messages="instellingen_snelheden_partial.$error" class="msg-error ul_error_last" >
        <li ng-message="required,pattern,int">Geen geldige snelheidslimiet ingevoerd. Geldige invoer is 30, 50, 60, 70, 80, 90, 100, 110, 120 en 130.</li>
    </ul>

    <button style="margin-top: 20px"
            ng-disabled="instellingen_snelheden_partial.$invalid || isEditDisabledForUser() || buttonDisabledSnelheidslimieten" class="button_120"
            ng-click="(getinputDisabledSnelheidslimieten() ? wijzigenSnelheidslimieten() : bewaarSnelheidslimieten())">
        {{(getinputDisabledSnelheidslimieten() && !buttonDisabledSnelheidslimieten ? "Wijzig" : "Opslaan")}}</button>

    <button type="button" style="margin-left: 10px"
            ng-disabled="isEditDisabledForUser() || buttonDisabledSnelheidslimieten || getinputDisabledSnelheidslimieten()"
            class="button_120"
            ng-click="annulerenSnelheidslimieten(instellingen_traject_partial)">
        Annuleren</button>
</div>

