<div >

    <p class="politieblauw paginatitel">Fout</p>
    <p class="politieblauw subtitel">Melding</p>
    <div style="padding-left: 20px;padding-right: 20px; color: red;word-break: break-all;">
        {{error}}
    </div>
</div>
