<div>
<div class="col-xs-3 tab-pane active" id="home" style="height:30px" >
   <div style="background-color: #004380;margin-right: -20px;height:30px;clear:both;"></div>
</div>

<div class="col-xs-9">
    <ul tabset type="tabs"  style="height: 30px;border-bottom: 0px;background-color: #004380;">
        <li tab-heading ui-sref="handhaving" ui-sref-active="active">
            <a class="tab_menu" href="#" style="color: white;border-radius: 0px 0px 0px 0px;height: 30px;line-height: 30px;vertical-align:middle;
            padding-bottom: 0px;padding-top: 0px;border:none;">Handhaving</a>
        </li tab>

        <li tab-heading="instellingen" ui-sref="instellingen"  ui-sref-active="active">
            <a href="#" style="color: white;border-radius: 0px 0px 0px 0px;height: 30px;line-height: 30px;vertical-align:middle;
            padding-bottom: 0px;padding-top: 0px;border:none;">Instellingen</a>
        </li tab>

        <!--<li tab-heading="systeem" ui-sref="systeem.onderhoudenverdragslanden" ng-hide="isInRolePolitie()" ng-class="{active:$state.includes('systeem')}" ui-sref-active="{active: $state.includes('systeem')}">-->
        <li ng-hide="isInRolePolitie()" tab-heading="systeem" ui-sref="systeem.onderhoudenmeldingenstoringen" ng-class="{active:$state.includes('systeem')}" ui-sref-active="{active: $state.includes('systeem')}">
            <a href="#" style="color: white;border-radius: 0px 0px 0px 0px;height: 30px;line-height: 30px;vertical-align:middle;
            padding-bottom: 0px;padding-top: 0px;border:none;">Systeem</a>
        </li tab>

        <li tab-heading="passagegegevens" ui-sref="passagegegevens" ui-sref-active="active" ng-hide="isInRolePolitie()==false">
            <a href="#" style="color: white;border-radius: 0px 0px 0px 0px;height: 30px;line-height: 30px;vertical-align:middle;
            padding-bottom: 0px;padding-top: 0px;border:none;">Passagegegevens</a>
        </li tab>


        <li tab-heading="statistieken" ui-sref="statistieken" ui-sref-active="active" >
            <a href="#" style="color: white;border-radius: 0px 0px 0px 0px;height: 30px;line-height: 30px;vertical-align:middle;
            padding-bottom: 0px;padding-top: 0px;border:none;">Statistieken</a>
        </li tab>

        <li  tab-heading="logboek" ui-sref="logboek" ui-sref-active="active" >
            <a href="#" style="color: white;border-radius: 0px 0px 0px 0px;height: 30px;line-height: 30px;vertical-align:middle;
            padding-bottom: 0px;padding-top: 0px;border:none;">Logboek</a>
        </li tab>

    </ul tabset>

</div>
<!--</div>-->
