<div ng-controller="topheadercontroller">
    <div class="col-xs-3" style="line-height: 60px;background-color: #EBEBEB" >
        <div ng-class="{'politie_logo':isInRolePolitie(),'csc':!isInRolePolitie()}" style="margin-right: -20px;background-color: white"></div>
    </div>

    <div  class="col-xs-6 span4-height60 politieblauw trajectnaambox" style="line-height: 60px;height:60px;vertical-align: middle;" align="center">
        <div style="margin-left: -20px;padding-left:20px;background-color: white">{{trajectTitle}}</div>
    </div>

    <div class="col-xs-3" style="height:60px;background-color: #EBEBEB">
        <div style="margin-left: -10px;margin-right: 0px;background-color: white;height:60px">
            <ul class="gebruikersinfo">
                <div>
                    <li class="ulNone"><a  href="#/gebruikersaccount" >Ingelogd als {{username}}</a></li>
                </div >
                <div ng-controller="login-controller">
                    <li  class="ulNone"><a href="#/logout" ng-click="logout()">Uitloggen</a></li>
                </div>
                <div ng-hide="isInRolePolitie()">
                    <li  class="ulNone"><a ng-class="{'storingen_error':nrOfErrors!='0','storingen_ok':nrOfErrors=='0'}" href="#"  ui-sref="systeem.onderhoudenmeldingenstoringen" >Storingen:{{nrOfErrors}}</a></li>
                </div>
            </ul>
        </div >
    </div>
</div>
