<form novalidate class="css-form" name="myForm">
	<div ng-controller="TabsDemoCtrl">
		<ul tabset vertical="true" type="pills">
			<li tabheading ng-repeat="tab in tabs" heading="{{tab.title}}"
                ui-sref="{{$state.current.name}}({ title: tab.id})" ui-sref-active="active">
			<a href="#" ng-click="$scope.test( tab.id)">{{tab.title}}</a>
			</li>
		</ul tabset>
	   </div>
	   </form>
	   
