<div class="col-xs-3 tab-pane active" id="home" style="height:30px" >
</div>


<div class="col-xs-9">
    <ul tabset type="pills" justified="true">
        <li tab-heading ui-sref="handhaving" ui-sref-active="active">
            <a  href="#" >Handhaving</a>
        </li tab>

        <li tab-heading="instellingen" ui-sref="instellingen" ui-sref-active="active">
            <a href="#" >Instellingen</a>
        </li tab>

        <li tab-heading="passagegegevens" ui-sref="passagegegevens" ui-sref-active="active" >
            <a href="#" >Passagegegevens</a>
        </li tab>


        <li tab-heading="statistieken" ui-sref="statistieken" ui-sref-active="active" >
            <a href="#">Statistieken</a>
        </li tab>

        <li  tab-heading="logboek" ui-sref="logboek" ui-sref-active="active" >
            <a href="#">Logboek</a>
        </li tab>

    </ul tabset>

</div>