<div novalidate>
    <!--http://www.codinginsight.com/angularjs-and-pickadate/#comment-92-->
    <p class="politieblauw paginatitel">Passagegegevens</p>
    <p class="politieblauw subtitel">Downloaden van passagegegevens</p>

    <div id="colour_container" class="subbox_basic"
         ng-form="passagegegevens"
         name="passagegegevens"
         style="padding-left: 0px">
        <div class="subbox_div_background centerButtonWrapper" ng-form="passages-zoeken-partial" novalidate >
            <div style="padding-left: 0px;height:260px">
                <div style="display:inline-block; min-height:290px;">
                    <div datepicker
                         ng-model="passagegegevensBeginDatum"
                         show-weeks="false"
                         class="well well-sm"
                         datepicker-mode="'day'"></div>
                </div>
                <div style="display:inline-block; min-height:290px;">
                    <datepicker ng-model="passagegegevensEindDatum"
                                show-weeks="false"
                                class="well well-sm"
                                datepicker-mode="'day'"
                            ></datepicker>
                    <!--max-date="maxEndDate"-->
                    <!--min-date="minEndDate"-->
                </div>
            </div>
        </div>
        <!--ng-pattern="/^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/"-->

        <div style="padding-top: 0px;margin-left: 10px" ng-form="passagegegevens_partial" name="passagegegevens_partial" id="passagegegevens_partial" >

            <div  class="form-group">
                <label class="label_basic" for="begintijd">Begintijd</label>
                <input class="input_basic" style="vertical-align: middle"
                       type="text"
                       id="begintijd"
                       name="begintijd"
                       ng-pattern="/^([01]\d|2[0-3]):([0-5]\d)$/"
                       ng-model="begintijd"
                       placeholder="uu:mm"
                       ng-disabled="isEditDisabledForUser()"
                       required/>
                <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip" title="uu:mm"></i>

            </div>
            <!--ng-pattern="/^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/"-->
            <!--http://angular-ui.github.io/ui-utils/-->
            <div  class="form-group">
                <label class="label_basic" for="eindtijd">Eindtijd</label>
                <input class="input_basic" style="vertical-align: middle"
                       type="text"
                       id="eindtijd"
                       name="eindtijd"
                       ng-model="eindtijd" placeholder="uu:mm"
                       ng-pattern="/^([01]\d|2[0-3]):([0-5]\d)$/"
                       required
                       ng-disabled="isEditDisabledForUser()"/>
                <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip" title="uu:mm"></i>

            </div>

            <div  class="form-group">
                <label class="label_basic" for="Passagepunt">Passagepunt</label>
                <select class="input_basic input_basic_select" id="Passagepunt" name="Passagepunt" ng-model="Passagepunt"
                        data-ng-options="o.hectometer for o in gantries track by o.id"
                        required
                        ng-disabled="isEditDisabledForUser()">
                    <option value="">-- Kies --</option>
                </select>
                <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip" title="Keuzeveld met hectometerpaalnummers"></i>
            </div>

            <div  class="form-group">
                <label class="label_basic" for="kenteken">Kenteken</label>
                <input class="input_basic" id="kenteken" name="kenteken"
                       type="text"
                       ng-pattern="/^[A-Z0-9]*[A-Z0-9][A-Z0-9]*$/"
                       ng-model="kenteken"
                       ng-maxlength="10"
                       maxlength="10"
                       ng-disabled="isEditDisabledForUser()"/>
                <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip" title="Optioneel veld waar een kenteken (cijfers en letters zonder streepje) ingevuld kan worden."></i>
            </div>

            <div  class="form-group">
                <label class="label_basic" for="metFoto">Met foto</label>
                <input class="input_select_basic" id="metFoto" name="metFoto"  type="checkbox" ng-model="metFoto"  ng-disabled="isEditDisabledForUser()"/>
                <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip" title="Wanneer het veld is aangevinkt, mag de ingevulde periode tussen de begin- en eindtijd maximaal 30 minuten bedragen."></i>
            </div>

            <div class="div_error">
                <ul class="msg-error ul_error">
                    <li ng-show="hasError">
                        {{errorMsg}}
                    </li>
                    <li ng-show="hasResult==false">
                        {{hasResultMsg}}
                    </li>
                </ul>
                <ul ng-show="passagegegevens_partial.begintijd.$dirty" ng-messages="passagegegevens_partial.begintijd.$error" class="msg-error ul_error" >
                    <li ng-message="required,pattern">Geen geldige begintijd ingevoerd. Vul een tijdstip in volgens het formaat uu:mm</li>
                </ul>
                <ul ng-show="passagegegevens_partial.eindtijd.$dirty" ng-messages="passagegegevens_partial.eindtijd.$error" class="msg-error ul_error" >
                    <li ng-message="required,pattern">Geen geldige eindtijd ingevoerd. Vul een tijdstip in volgens het formaat uu:mm</li>
                </ul>
                <ul ng-show="passagegegevens_partial.kenteken.$dirty" ng-messages="passagegegevens_partial.kenteken.$error" class="msg-error ul_error" >
                    <li ng-message="maxlength,pattern">Geen geldig kenteken ingevoerd. Vul een waarde in bestaande uit maximaal 10 karakters</li>
                </ul>
            </div>
        </div>

        <div class="centerButtonWrapper">
            <button ng-click="downloadPassagegegevens()"
                    class="button_120 centerButton"
                    ng-disabled="passagegegevens.$invalid || isEditDisabledForUser() || buttonDisabledPassagegegevens || hasError">
                Download
            </button>
        </div>
    </div>
</div>