<div style=" margin-top: 10px">
    <p style="padding-right: 20px">
        <span class="politieblauw paginatitel">Locatie Certificaten</span>
        <button class="button_120"
                ng-disabled="isbtnDisabled"
                ng-click="addnew()"
                ng-show="!isEditDisabledForUser()"
                style="float: right;">Toevoegen
        </button>
    </p>

    <div style="padding-left: 20px;padding-right: 20px">
        <table class="table table-bordered">
            <thead>
            <tr class="kolomtitel_tabel">
                <td style="display:none">version</td>
                <td>Locatie nummer</td>
                <td>Keuringsdatum</td>
                <td>Geldig tot</td>
                <td></td>
            </tr>
            </thead>
            <tbody>

            <tr class="tabel_inhoud_met_background_color"
                ng-repeat="certificaat in certificaten">

                <td data-ng-show="false">{{certificaat.version}}</td>
                <td>{{certificaat.certificate.id}}</td>
                <td>{{ getDutchDateTimeFromEpochString(certificaat.certificate.inspectionDate)}}</td>
                <td>{{ getDutchDateTimeFromEpochString(certificaat.certificate.validTime)}}</td>

                <td style="width:120px">
                    <button class="btn-link" ng-disabled="isbtnDisabled"
                            ng-click="wijzigen(certificaat.id);disableLinks();">
                        Wijzig
                    </button>
                    <button class="btn-link"
                            ng-show="!isEditDisabledForUser()"
                            ng-click="verwijder(certificaat.id)"
                            ng-disabled="isbtnDisabled">
                        | Verwijder
                    </button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <div ng-show="showDetails"
         class="form-horizontal subbox_basic">

        <div ng-form="locationCertificate_details"
             ng-show="!showDetailsComponents"
             name="locationCertificate_details"
             class="form-horizontal subbox_basic"
             style="padding-left: 0px;margin-left: 0px;"
             novalidate>

            <div class="form-group">
                <label class="label_basic_title">Certificaat</label>
            </div>

            <div class="form-group">
                <label class="label_basic" for="id">Locatie nummer:</label>
                <input class="input_basic" id="id" type="text" required ng-disabled="isEditDisabledForUser()"
                       ng-model="locationCertificate.id"/>
            </div>

            <div class="form-group">
                <label class="label_basic" for="inspectionDate">Keuringsdatum:</label>
                <input class="input_basic" id="inspectionDate"
                       type="text"
                       ng-pattern="/^(?:(?:31(-)(?:0[13578]|1[02]))\1|(?:(?:29|30)(-)(?:0[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(-)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0[1-9]|1\d|2[0-8])(-)(?:(?:0[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$/"
                       required
                       ng-disabled="isEditDisabledForUser()"
                       ng-model="locationCertificate.inspectionDate"/>
                <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip" title="dd-mm-yyyy"></i>
            </div>

            <div class="form-group">
                <label class="label_basic" for="inspectionDateTime">Keuringsdatum tijd:</label>
                <input class="input_basic" id="inspectionDateTime"
                       type="text"
                       ng-pattern="/^([01]\d|2[0-3]):([0-5]\d)$/"
                       required
                       ng-disabled="isEditDisabledForUser()"
                       ng-model="locationCertificate.inspectionDateTime"/>
                <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip" title="uu:mm"></i>
            </div>

            <div class="form-group">
                <label class="label_basic" for="validTime">Geldig tot:</label>
                <input class="input_basic" id="validTime"
                       type="text"
                       ng-pattern="/^(?:(?:31(-)(?:0[13578]|1[02]))\1|(?:(?:29|30)(-)(?:0[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(-)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0[1-9]|1\d|2[0-8])(-)(?:(?:0[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$/"
                       required ng-disabled="isEditDisabledForUser()"
                       ng-model="locationCertificate.validTime"/>
                <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip" title="dd-mm-yyyy"></i>
            </div>

            <div class="form-group">
                <label class="label_basic" for="validTimeTime">Keuringsdatum tijd:</label>
                <input class="input_basic" id="validTimeTime"
                       type="text"
                       ng-pattern="/^([01]\d|2[0-3]):([0-5]\d)$/"
                       required
                       ng-disabled="isEditDisabledForUser()"
                       ng-model="locationCertificate.validTimeTime"/>
                <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip" title="uu:mm"></i>
            </div>

            <ul class="msg-error" ng-show="errors.length>0">
                <li ng-repeat="error in errors">
                    {{ error.error}}
                </li>
            </ul>

        </div>

        <div style="margin-right:20px">
            <div class="form-group">
                <label class="label_basic_title">Checksums</label>
            </div>

            <div class="form-group">
                <label class="label_basic" for="configurationSeal">Configuratiezegel:</label>
                <input class="input_basic_350" id="configurationSeal" type="text" ng-disabled="true"
                       ng-model="configurationSeal"/>
            </div>

            <button class="button_120"
                    ng-disabled="isbtnDisabledComponents"
                    ng-click="addnewComponent()"
                    ng-show="!isEditDisabledForUser()"
                    style="float: right;margin-bottom: 10px">Toevoegen
            </button>

            <table class="table table-bordered">
                <thead>
                <tr class="kolomtitel_tabel">
                    <td style="display:none">index</td>
                    <td>Naam</td>
                    <td>Checksum</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>

                <tr class="tabel_inhoud_met_background_color"
                    ng-repeat="component in locationCertificate.components">
                    <td data-ng-show="false">{{certificaat.index}}</td>
                    <td style="width:200px">{{component.name}}</td>
                    <td>{{ getChecksum(component.checksum)}}</td>
                    <td style="width:145px">
                        <button class="btn-link"
                                ng-disabled="isbtnDisabledComponents"
                                ng-click="wijzigenComponent(component.index);disableLinks();">
                            Wijzig
                        </button>
                        <button class="btn-link"
                                ng-show="!isEditDisabledForUser()"
                                ng-click="verwijderComponent(component.index)"
                                ng-disabled="isbtnDisabledComponents">
                            | Verwijder
                        </button>
                    </td>
                </tr>

                </tbody>
            </table>

            <div
                    ng-form="locationCertificate_Components_details"
                    ng-show="showDetailsComponents"
                    name="locationCertificate_Components_details"
                    class="form-horizontal subbox_basic"
                    style="padding-left: 0px;margin-left: 0px;"
                    novalidate>

                <div class="form-group">
                    <label class="label_basic" for="name">Naam:</label>
                    <input class="input_basic_middle" id="name" type="text" required ng-model="component.name"
                           ng-disabled="isEditDisabledForUser()"/>
                </div>

                <div class="form-group">
                    <label class="label_basic" for="checksum">Checksum:</label>
                    <input class="input_basic_middle" id="checksum" type="text" required ng-model="component.checksum"
                           ng-disabled="isEditDisabledForUser()"/>
                </div>

                <ul class="msg-error" ng-show="errors.length>0">
                    <li ng-repeat="error in errors">
                        {{ error.error}}
                    </li>
                </ul>

                <button class="button_120"
                        ng-disabled="locationCertificate_Components_details.$invalid || isEditDisabledForUser()"
                        ng-click="bewaarComponent()" style="float: center;">Opslaan
                </button>
                <button class="button_120" ng-click="annuleerComponent()" style="float: center;">Annuleren</button>
            </div>
        </div>

        <button class="button_120"
                ng-show="!showDetailsComponents"
                ng-disabled="locationCertificate_details.$invalid || isEditDisabledForUser()"
                ng-click="bewaar()" style="float: center;">Opslaan
        </button>
        <button ng-show="!showDetailsComponents" class="button_120" ng-click="annuleer()" style="float: center;">
            Annuleren
        </button>
    </div>
</div>