<div style=" margin-top: 10px">
    <p style="padding-right: 20px">
        <span class="politieblauw paginatitel">Rijstroken</span>
        <button class="button_120"
                ng-disabled="isbtnDisabled"
                ng-show="!isEditDisabledForUser()"
                ng-click="addnew()"
                style="float: right;">Toevoegen</button>
    </p>

    <div style="padding-left: 20px;padding-right: 20px">
        <table class="table table-bordered" >
            <thead>
            <tr  class="kolomtitel_tabel">
                <td style="display:none">systemId</td>
                <td style="display:none">gantryId</td>
                <td style="display:none">laneId</td>
                <!--<td>Traject</td>-->
                <td>Passagepunt</td>
                <td>Rijstrook</td>

                <td></td>
            </tr>
            </thead>
            <tbody>

            <tr  class="tabel_inhoud_met_background_color"
                 ng-repeat="rijbaan in rijbanen">


                <td data-ng-show="false">{{rijbaan.gantryId}}</td>
                <td data-ng-show="false">{{rijbaan.laneId}}</td>
                <td data-ng-show="false">{{rijbaan.systemId}}</td>
                <!--<td style="width:200px">{{rijbaan.systemName}}</td>-->
                <td style="width:200px">{{rijbaan.gantryName}}</td>
                <td style="width:200px">{{ rijbaan.laneName}}</td>

                <td style="width:120px">
                    <button class="btn-link" ng-disabled="isbtnDisabled" ng-click="wijzigen(rijbaan.gantryId,rijbaan.laneId)">
                        Wijzig
                    </button>
                    <button class="btn-link"
                            ng-click="verwijder(rijbaan.systemId,rijbaan.gantryId,rijbaan.laneId)"
                            ng-disabled="isbtnDisabled"
                            ng-show="!isEditDisabledForUser()">
                        | Verwijder
                    </button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <div ng-form="rijstroken_details_partial" ng-show="showDetails"
         name="rijstroken_details_partial"

         class="form-horizontal subbox_basic" novalidate>

        <div  class="form-group">
            <label class="label_basic_long" for="passagepunt">Passagepunt:</label>
            <select class="input_basic input_basic_select"
                    id="passagepunt"
                    ng-model="gantryId"
                    data-ng-options="o.id as o.name for o in gantries"
                    required
                    ng-disabled="getinputDisabledSectie() || isAddnew==false">
                <option value="">-- Kies --</option>
            </select>
        </div>

        <div  class="form-group">
            <label class="label_basic_long" for="rijstrook">Rijstrook:</label>
            <input class="input_basic" id="rijstrook" type="text" ng-disabled="isEditDisabledForUser()" required  ng-model="lane.sensor.name"/>
        </div>

        <div  class="form-group">
            <label class="label_basic_long" for="bps">Bps:</label>
            <input class="input_basic" id="bps" type="text" ng-disabled="isEditDisabledForUser()" required  ng-model="lane.sensor.bpsLaneId"/>
        </div>

        <div class="form-group">
            <label class="label_basic_long" for="camerauri">Camera URI:</label>
            <input class="input_basic" id="camerauri" type="text" ng-disabled="isEditDisabledForUser()" required ng-model="lane.sensor.camera.relayURI"/>
        </div>
        <div  class="form-group">
            <label class="label_basic_long" for="camerahost">Camera Host:</label>
            <input class="input_basic" id="camerahost" type="text" ng-disabled="isEditDisabledForUser()" required ng-model="lane.sensor.camera.cameraHost"/>
        </div>

        <div  class="form-group">
            <label class="label_basic_long" for="cameraPort">Camera Port:</label>
            <input class="input_basic" id="cameraPort" type="number" ng-disabled="isEditDisabledForUser()" min="0" max="99999999999" required ng-model="lane.sensor.camera.cameraPort"/>
            <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip" title="Waarde tussen 0 en 99999999999"></i>
        </div>

        <div  class="form-group">
            <label class="label_basic_long" for="cameraherhaal">Camera Herhaal Pogingen:</label>
            <input class="input_basic" id="cameraherhaal" type="number" ng-disabled="isEditDisabledForUser()" min="0" max="99999999999" required ng-model="lane.sensor.camera.maxTriggerRetries"/>
            <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip" title="Waarde tussen 0 en 99999999999"></i>
        </div>

        <div class="form-group">
            <label class="label_basic_long" for="cameraverbreektijd">Camera Verbreektijd (ms)</label>
            <input class="input_basic" id="cameraverbreektijd" type="number" ng-disabled="isEditDisabledForUser()" required ng-model="lane.sensor.camera.timeDisconnected"/>
            <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip" title="Waarde groter dan 0"></i>
        </div>

        <div class="form-group">
            <label class="label_basic_long" for="radaruri">Radar URI</label>
            <input class="input_basic" id="radaruri" type="text" ng-disabled="isEditDisabledForUser()" required ng-model="lane.sensor.radar.radarURI"/>
        </div>
        <div class="form-group">
            <label class="label_basic_long" for="radarmeasurementangle">Radar Measurement Angle</label>
            <input class="input_basic" id="radarmeasurementangle" type="number" ng-disabled="isEditDisabledForUser()" required ng-model="lane.sensor.radar.measurementAngle"/>
        </div>

        <div class="form-group">
            <label class="label_basic_long" for="radarheight">Radar Height</label>
            <input class="input_basic" id="radarheight" type="text" smart-float ng-disabled="isEditDisabledForUser()" required ng-model="lane.sensor.radar.height"/>
        </div>

        <div class="form-group">
            <label class="label_basic_long" for="radarsurfacereflection">Radar Surface Reflection</label>
            <input class="input_basic" id="radarsurfacereflection" type="number" ng-disabled="isEditDisabledForUser()" required ng-model="lane.sensor.radar.surfaceReflection"/>
        </div>

        <div class="form-group">
            <label class="label_basic_long" for="pirhost">PIR Host</label>
            <input class="input_basic" id="pirhost" type="text" ng-disabled="isEditDisabledForUser()" required ng-model="lane.sensor.pir.pirHost"/>
        </div>

        <div class="form-group">
            <label class="label_basic_long" for="pirport">PIR Port</label>
            <input class="input_basic" id="pirport" type="number" ng-disabled="isEditDisabledForUser()" min="1"  max="99999999999"required ng-model="lane.sensor.pir.pirPort"/>
            <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip" title="Waarde tussen 0 en 99999999999"></i>

        </div>

        <div class="form-group">
            <label class="label_basic_long" for="pirvoertuigresistratiehost">PIR Voertuig Registratie Host</label>
            <input class="input_basic" id="pirvoertuigresistratiehost" type="text" ng-disabled="isEditDisabledForUser()" required ng-model="lane.sensor.pir.vrHost"/>
        </div>

        <div class="form-group">
            <label class="label_basic_long" for="pirvoertuigresistratieport">PIR Voertuig Registratie Port </label>
            <input class="input_basic" id="pirvoertuigresistratieport" type="number" ng-disabled="isEditDisabledForUser()" min="1025" max="99999999999" required ng-model="lane.sensor.pir.vrPort"/>
            <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip" title="Waarde tussen 1025 en 99999999999"></i>
        </div>

        <div class="form-group">
            <label class="label_basic_long" for="wachttijdopvragendata">Wachttijd Opvragen Voertuig Data</label>
            <input class="input_basic" id="wachttijdopvragendata" type="number" ng-disabled="isEditDisabledForUser()" required ng-model="lane.sensor.pir.refreshPeriod"/>
            <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip" title="Waarde groter dan 0"></i>
        </div>

        <div class="form-group">
            <label class="label_basic_long" for="piradres">PIR Adres</label>
            <input class="input_basic" id="piradres" type="number" ng-disabled="isEditDisabledForUser()" min="0" max="255" required ng-model="lane.sensor.pir.pirAddress"/>
            <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip" title="Waarde tussen 0 en 255"></i>
        </div>

        <ul class="msg-error" ng-show="errors.length>0">
            <li ng-repeat="error in errors" >
                {{ error.field}}: {{ error.error}}
            </li>
        </ul>

        <button class="button_120"
                ng-disabled="rijstroken_details_partial.$invalid || isEditDisabledForUser()"
                ng-click="bewaar()" style="float: center;">Opslaan</button>
        <button class="button_120" ng-click="annuleer()" style="float: center;">Annuleren</button>
    </div>
</div>

<!--<div style=" margin-top: 10px">-->
    <!--<p class="politieblauw paginatitel">Rijbanen</p>-->

    <!--<div style="padding-left: 20px;padding-right: 20px">-->
        <!--<table class="table table-bordered" >-->
            <!--<thead>-->
            <!--<tr  class="kolomtitel_tabel">-->
                <!--<td style="display:none">systemId</td>-->
                <!--<td style="display:none">gantryId</td>-->
                <!--<td style="display:none">laneId</td>-->
                <!--<td>Traject</td>-->
                <!--<td>Passagepunt</td>-->
                <!--<td>Rijbaan</td>-->
                <!--<td></td>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->

            <!--<tr  class="tabel_inhoud_met_background_color"-->
                 <!--ng-repeat="rijbaan in rijbanen">-->

                <!--<td data-ng-show="false">{{rijbaan.systemId}}</td>-->
                <!--<td data-ng-show="false">{{rijbaan.gantryId}}</td>-->
                <!--<td data-ng-show="false">{{rijbaan.laneId}}</td>-->
                <!--<td style="width:200px">{{rijbaan.systemName}}</td>-->
                <!--<td style="width:200px">{{rijbaan.gantryName}}</td>-->
                <!--<td style="width:200px">{{ rijbaan.laneName}}</td>-->
                <!--<td style="width:120px">-->
                    <!--<button class="btn-link" ng-disabled="isbtnDisabled" ng-click="wijzigen(rijbaan.systemId,rijbaan.gantryId,rijbaan.laneId,rijbaan.gantryName)">-->
                        <!--Inzien-->
                    <!--</button>-->

                <!--</td>-->
            <!--</tr>-->

            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->

    <!--<div ng-form="system_details_partial" ng-show="showDetails"-->
         <!--name="system_gebuikers_details"-->
         <!--class="form-horizontal subbox_basic" novalidate>-->

        <!--<div  class="form-group">-->
            <!--<label class="label_basic_long" for="passagepunt">Passagepunt:</label>-->
            <!--<input class="input_basic" id="passagepunt" type="text" required ng-model="gantryName" ng-readonly="true"/>-->

        <!--</div>-->

        <!--<div  class="form-group">-->
            <!--<label class="label_basic_long" for="rijbaan">Rijbaan:</label>-->
            <!--<input class="input_basic" id="rijbaan" type="text" required  ng-model="rijbaan.name" ng-readonly="true"/>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label class="label_basic_long" for="camerauri">Camera URI:</label>-->
            <!--<input class="input_basic" id="camerauri" type="text" required ng-model="rijbaan.sensor.camera.relayURI" ng-readonly="true"/>-->
        <!--</div>-->
        <!--<div  class="form-group">-->
            <!--<label class="label_basic_long" for="camerahost">Camera Host:</label>-->
            <!--<input class="input_basic" id="camerahost" type="text" required ng-model="rijbaan.sensor.camera.cameraHost" ng-readonly="true"/>-->
        <!--</div>-->

        <!--<div  class="form-group">-->
            <!--<label class="label_basic_long" for="cameraPort">Camera Port:</label>-->
            <!--<input class="input_basic" id="cameraPort" type="text" required ng-model="rijbaan.sensor.camera.cameraPort" ng-readonly="true"/>-->
        <!--</div>-->

        <!--<div  class="form-group">-->
            <!--<label class="label_basic_long" for="cameraherhaal">Camera Herhaal Pogingen:</label>-->
            <!--<input class="input_basic" id="cameraherhaal" type="text" required ng-model="rijbaan.sensor.camera.maxTriggerRetries" ng-readonly="true"/>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label class="label_basic_long" for="cameraverbreektijd">Camera Verbreektijd (ms)</label>-->
            <!--<input class="input_basic" id="cameraverbreektijd" type="text" required ng-model="rijbaan.sensor.camera.timeDisconnected" ng-readonly="true"/>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label class="label_basic_long" for="radaruri">Radar URI</label>-->
            <!--<input class="input_basic" id="radaruri" type="text" required required ng-model="rijbaan.sensor.radar.radarURI" ng-readonly="true"/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="label_basic_long" for="radarmeasurementangle">Radar Measurement Angle</label>-->
            <!--<input class="input_basic" id="radarmeasurementangle" type="text" required ng-model="rijbaan.sensor.radar.measurementAngle" ng-readonly="true"/>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label class="label_basic_long" for="radarheight">Radar Height</label>-->
            <!--<input class="input_basic" id="radarheight" type="text" required ng-model="rijbaan.sensor.radar.height" ng-readonly="true"/>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label class="label_basic_long" for="radarsurfacereflection">Radar Surface Reflection</label>-->
            <!--<input class="input_basic" id="radarsurfacereflection" type="text" required ng-model="rijbaan.sensor.radar.surfaceReflection" ng-readonly="true"/>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label class="label_basic_long" for="pirhost">PIR Host</label>-->
            <!--<input class="input_basic" id="pirhost" type="text" required ng-model="rijbaan.sensor.pir.pirHost" ng-readonly="true"/>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label class="label_basic_long" for="pirport">PIR Port</label>-->
            <!--<input class="input_basic" id="pirport" type="text" required ng-model="rijbaan.sensor.pir.pirPort" ng-readonly="true"/>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label class="label_basic_long" for="pirvoertuigresistratiehost">PIR Voertuig Registratie Host</label>-->
            <!--<input class="input_basic" id="pirvoertuigresistratiehost" type="text" required ng-model="rijbaan.sensor.pir.vrHost" ng-readonly="true"/>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label class="label_basic_long" for="pirvoertuigresistratiehost">PIR Voertuig Registratie Port </label>-->
            <!--<input class="input_basic" id="pirvoertuigresistratieport" type="text" required ng-model="rijbaan.sensor.pir.vrPort" ng-readonly="true"/>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label class="label_basic_long" for="wachttijdopvragendata">Wachttijd Opvragen Voertuig Data</label>-->
            <!--<input class="input_basic" id="wachttijdopvragendata" type="text" required ng-model="rijbaan.sensor.pir.refreshPeriod" ng-readonly="true"/>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label class="label_basic_long" for="piradres">PIR Adres</label>-->
            <!--<input class="input_basic" id="piradres" type="text" required ng-model="rijbaan.sensor.pir.pirAddress" ng-readonly="true"/>-->
        <!--</div>-->

        <!--<button class="button_120"  ng-click="hideDetails();enableLinks();" style="float: center;">Sluiten</button>-->
    <!--</div>-->
<!--</div>-->