<div>
    <p style="padding-right: 20px">
        <span class="politieblauw paginatitel">Gebruikers</span>
        <button class="button_120"
                ng-disabled="isbtnDisabled"
                ng-click="addnew()"
                ng-show="!isEditDisabledForUser()"
                style="float: right;">Toevoegen</button>
    </p>

    <div style="padding-left: 20px;padding-right: 20px">
        <table class="table table-bordered" >
            <thead>
            <tr  class="kolomtitel_tabel">
                <td style="display:none">id</td>
                <td>Naam</td>
                <td>Role</td>
                <td>verbalisantcode</td>
                <td></td>
            </tr>
            </thead>
            <tbody>

            <tr  class="tabel_inhoud_met_background_color"
                 ng-repeat="user in users">

                <td data-ng-show="false">{{user.id}}</td>
                <td style="width:200px">{{ user.name}}</td>
                <td style="width:120px">{{ user.role.name }}</td>
                <td style="width:120px">{{ user.reportingOfficerId }}</td>
                <td style="width:120px">
                    <button class="btn-link" ng-disabled="isbtnDisabled" ng-click="doShowDetailsUser(user.id)">
                        Wijzig
                    </button>
                    <button class="btn-link"
                            ng-click="deleteGebruiker(user.id)"
                            ng-disabled="isbtnDisabled"
                            ng-show="showDeleteButton(user.id)">
                        | Verwijder
                    </button>
                </td>
            </tr>

            </tbody>
        </table>

    </div>



    <div ng-form="system_details_partial" ng-show="showDetails"
         name="system_gebuikers_details"
         class="form-horizontal subbox_basic" novalidate>

        <div  class="form-group">
            <label class="label_basic" >Geblokkeerd:</label>
             <span style="font-size: 12px; width:85px;padding-left:2px;padding-top: 0px;padding-bottom: 0px;vertical-align: middle;">
                {{user.userBlocked?"Ja":"Nee"}}</span>
        </div>

        <div  class="form-group">
            <label class="label_basic" for="voornaam">Voornaam:</label>
            <input  ng-disabled="isEditDisabledForUser()" class="input_basic" id="voornaam" type="text" required ng-model="user.name" />
        </div>

        <div class="form-group">
            <label class="label_basic" for="Verbalisatiecode">Verbalisatiecode:</label>
            <input class="input_basic" id="Verbalisatiecode"
                   type="text"
                   ng-required="roleIsPolitie()"
                   pattern="^[A-Z0-9]{6}$"
                   ng-model="user.reportingOfficerId"
                   ng-disabled="isEditDisabledForUser()"/>
        </div>
        <div  class="form-group">
            <label class="label_basic" for="Gebruikersnaam">Gebruikersnaam:</label>
            <input class="input_basic" id="Gebruikersnaam" type="text" required ng-model="user.username"
                   ng-disabled="isEditDisabledForUser() || showDeleteButton(user.id)==false"/>
        </div>

        <div  class="form-group">
            <label class="label_basic" for="Telefoon">Telefoon:</label>
            <input class="input_basic" id="Telefoon" type="text" required ng-model="user.phone" ng-disabled="isEditDisabledForUser()"/>
        </div>

        <div  class="form-group">
            <label class="label_basic" for="Email">Email:</label>
            <input class="input_basic" id="Email" type="email" required ng-model="user.email" ng-disabled="isEditDisabledForUser()"/>
        </div>

        <div ng-show="!isAddnew" class="form-group">
            <label class="label_basic" for="chkWachtwoord">Wachtwoord aanpassen?</label>
            <input class="input_basic" id="chkWachtwoord" type="checkbox" ng-model="mySwitch" ng-disabled="isEditDisabledForUser()" />
        </div>

        <!--complex-password-->
        <div  class="form-group">
            <label class="label_basic" for="wachtwoord">Wachtwoord:</label>
            <input class="input_basic"
                   id="wachtwoord"
                   name="wachtwoord"
                   type="password"
                   ng-model="user.password"
                   ng-required="mySwitch"
                   ng-disabled="!mySwitch || isEditDisabledForUser()"
                   complex-password/>
            <i style="cursor: hand" class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip" title="Eisen aan wachtwoord: Het bestaat uit minimaal acht tekens. Het moet tenminste één letter, één cijfer en één leesteken bevatten. Het wachtwoord mag niet hetzelfde zijn als de gebruikersnaam. Het wachtwoord mag niet hetzelfde zijn als de drie wachtwoorden die daarvoor zijn gebruikt."></i>

        </div>

        <div class="form-group">
            <label class="label_basic">Rol:</label>
            <select class="input_basic input_basic_select" id="roles"  ng-model="user.roleId"
                    required
                    ng-options="a.id as a.name for a in roles"
                    ng-disabled="isEditDisabledForUser()">
                <option value="">-- Kies --</option>
            </select>
        </div>

        <ul>
            <li class="msg-error" ng-show="huidigeWachtwoordError">
                {{wachtwoordModel.error}}
            </li>
            <li class="msg-error" ng-show="wachtwoord_partial.nogmaalsnieuwWachtwoord.$error.pwmatch">
                De wachtwoorden komen niet overeen.
            </li>
            <li class="msg-error" ng-show="wachtwoord_partial.nieuwWachtwoord.$error.complexity">
                Eisen aan wachtwoord: Het bestaat uit minimaal acht tekens. Het moet tenminste één letter, één cijfer en één leesteken
                bevatten. Het wachtwoord mag niet hetzelfde zijn als de gebruikersnaam. Het wachtwoord mag niet hetzelfde zijn als de drie wachtwoorden die daarvoor zijn gebruikt.
            </li>
        </ul>

        <ul  ng-show="errors.length>0" ng-repeat="item in errors">
            <li class="msg-error">{{ item.error }}</li>
        </ul>

        <button class="button_120" ng-disabled="system_gebuikers_details.$invalid || isEditDisabledForUser ()" ng-click="saveGebruiker()" style="float: center;">Opslaan</button>
        <button class="button_120" ng-click="annuleren()" style="float: center;">Annuleren</button>
    </div>
</div>