<div style=" margin-top: 10px">
<p style="padding-right: 20px">
    <span class="politieblauw paginatitel">Type Certificaten</span>
    <button class="button_120"
            ng-disabled="isbtnDisabled"
            ng-click="addnew()"
            ng-show="!isEditDisabledForUser()"
            style="float: right;">Toevoegen
    </button>
</p>

<div style="padding-left: 20px;padding-right: 20px">
    <table class="table table-bordered">
        <thead>
        <tr class="kolomtitel_tabel">
            <td style="display:none">id</td>
            <td>Typegoedkeurings nummer</td>
            <td>Revisie nummer</td>
            <td>Type aanduiding</td>
            <td>Categorie aanduiding</td>
            <td>Eenheid gemeten grootheid snelheid</td>
            <td>Eenheid gemeten grootheid afstand</td>
            <td></td>
        </tr>
        </thead>
        <tbody>

        <tr class="tabel_inhoud_met_background_color"
            ng-repeat="certificaat in certificaten">
            <td data-ng-show="false">{{certificaat.id}}</td>
            <td style="width:80px">{{ certificaat.typeCertificateId }}</td>
            <td style="width:80px">{{ certificaat.revisionNr }}</td>
            <td style="width:160px">{{ certificaat.typeDesignation }}</td>
            <td style="width:160px">{{ certificaat.category }}</td>
            <td style="width:160px">{{ certificaat.unitSpeed }}</td>
            <td style="width:160px">{{ certificaat.unitLength }}</td>
            <td style="width:120px">
                <button class="btn-link" ng-disabled="isbtnDisabled"
                        ng-click="wijzigen(certificaat.id);disableLinks();">
                    Wijzig
                </button>
                <button class="btn-link"
                        ng-show="!isEditDisabledForUser() &&  certificaat.isAvailable"
                        ng-click="verwijder(certificaat.id)"
                        ng-disabled="isbtnDisabled ">
                    | Verwijder
                </button>
            </td>
        </tr>

        </tbody>
    </table>
</div>

<div ng-show="showDetails"
     class="form-horizontal subbox_basic">

    <div ng-form="locationCertificate_details"
         ng-show="!showDetailsComponents"
         name="locationCertificate_details"
         class="form-horizontal subbox_basic"
         style="padding-left: 0px;margin-left: 0px;"
         novalidate>

        <div class="form-group">
            <label class="label_basic_title" for="typegoedkeuringsnr">Type certificaat</label>
        </div>

        <div class="form-group">
            <label class="label_basic_long" for="typegoedkeuringsnr">Typegoedkeurings nummer:</label>
            <input class="input_basic" id="typegoedkeuringsnr" type="text" required
                   ng-model="typeCertificate.certificate.typeCertificate.id"/>
        </div>

        <div class="form-group">
            <label class="label_basic_long" for="revisienr">Revisie nummer:</label>
            <input class="input_basic" id="revisienr" type="number" required
                   ng-model="typeCertificate.certificate.typeCertificate.revisionNr"/>
        </div>

        <div class="form-group">
            <label class="label_basic_title" for="typegoedkeuringsnr">Meetmiddel Type</label>
        </div>

        <div class="form-group">
            <label class="label_basic_long" for="typeaanduiding">Type aanduiding:</label>
            <input class="input_basic" id="typeaanduiding" type="text" required
                   ng-model="typeCertificate.certificate.typeDesignation"/>
        </div>

        <div class="form-group">
            <label class="label_basic_long" for="categorieaanduiding">Categorie aanduiding:</label>
            <input class="input_basic" id="categorieaanduiding" type="text" required
                   ng-model="typeCertificate.certificate.category"/>
        </div>

        <div class="form-group">
            <label class="label_basic_long" for="eenheidgemetensnelheid">Eenheid gemeten grootheid Snelheid:</label>
            <input class="input_basic" id="eenheidgemetensnelheid" required type="text"
                   ng-model="typeCertificate.certificate.unitSpeed"/>
        </div>

        <div class="form-group">
            <label class="label_basic_long" for="eenheidgemetenafstand">Eenheid gemeten grootheid Afstand:</label>
            <input class="input_basic" id="eenheidgemetenafstand" required type="text"
                   ng-model="typeCertificate.certificate.unitLength"/>
        </div>

        <div class="form-group">
            <label class="label_basic_long" for="Gebruiksomstandigheden">Gebruiksbeperkende omstandigheden:</label>
            <input class="input_basic" id="Gebruiksomstandigheden" type="text"
                   ng-model="typeCertificate.certificate.restrictiveConditions"/>
        </div>

        <div class="form-group">
            <label class="label_basic_long" for="aanwijsbereik">Aanwijsbereik:</label>
            <input class="input_basic" id="aanwijsbereik" type="text" required
                   ng-model="typeCertificate.certificate.displayRange"/>
        </div>

        <div class="form-group">
            <label class="label_basic_long" for="temperatuurbereik">Temperatuurbereik:</label>
            <input class="input_basic" id="temperatuurbereik" required type="text"
                   ng-model="typeCertificate.certificate.temperatureRange"/>
        </div>

        <div class="form-group">
            <label class="label_basic_long" for="toelaatbarefoutmeetresultaat">Toelaatbare fout meetresultaat:</label>
            <input class="input_basic" id="toelaatbarefoutmeetresultaat" required type="text"
                   ng-model="typeCertificate.certificate.permissibleError"/>
        </div>

        <ul class="msg-error" ng-show="errors.length>0">
            <li ng-repeat="error in errors">
                {{ error.error}}
            </li>
        </ul>

    </div>

    <div style="margin-right:20px">
        <div class="form-group">
            <label class="label_basic_title">Checksums</label>
        </div>

        <div class="form-group">
            <label class="label_basic_long" for="softwareSeal">Softwarezegel:</label>
            <input class="input_basic_350" id="softwareSeal" type="text" ng-disabled="true"
                   ng-model="softwareSeal"/>
        </div>

        <button class="button_120"
                ng-disabled="isbtnDisabledComponents"
                ng-click="addnewComponent()"
                ng-show="!isEditDisabledForUser()"
                style="float: right;margin-bottom: 10px">Toevoegen
        </button>

        <table class="table table-bordered">
            <thead>
            <tr class="kolomtitel_tabel">
                <td style="display:none">index</td>
                <td>Naam</td>
                <td>Checksum</td>
                <td></td>
            </tr>
            </thead>
            <tbody>

            <tr class="tabel_inhoud_met_background_color"
                ng-repeat="component in components">
                <td data-ng-show="false">{{component.index}}</td>
                <td style="width:200px">{{component.name}}</td>
                <td>{{ getChecksum(component.checksum)}}</td>
                <td style="width:145px">
                    <button class="btn-link"
                            ng-disabled="isbtnDisabledComponents"
                            ng-click="wijzigenComponent(component.index);disableLinks();">
                        Wijzig
                    </button>
                    <button class="btn-link"
                            ng-show="!isEditDisabledForUser()"
                            ng-click="verwijderComponent(component.index)"
                            ng-disabled="isbtnDisabledComponents">
                        | Verwijder
                    </button>
                </td>
            </tr>

            </tbody>
        </table>

        <div
                ng-form="locationCertificate_Components_details"
                ng-show="showDetailsComponents"
                name="locationCertificate_Components_details"
                class="form-horizontal subbox_basic"
                style="padding-left: 0px;margin-left: 0px;"
                novalidate>

            <div class="form-group">
                <label class="label_basic" for="name">Naam:</label>
                <input class="input_basic_middle" id="name" type="text" required ng-model="component.name"
                       ng-disabled="isEditDisabledForUser()"/>
            </div>

            <div class="form-group">
                <label class="label_basic" for="checksum">Checksum:</label>
                <input class="input_basic_middle" id="checksum" type="text" required ng-model="component.checksum"
                       ng-disabled="isEditDisabledForUser()"/>
            </div>

            <ul class="msg-error" ng-show="errors.length>0">
                <li ng-repeat="error in errors">
                    {{ error.error}}
                </li>
            </ul>

            <button class="button_120"
                    ng-disabled="locationCertificate_Components_details.$invalid || isEditDisabledForUser()"
                    ng-click="bewaarComponent()" style="float: center;">Opslaan
            </button>
            <button class="button_120" ng-click="annuleerComponent()" style="float: center;">Annuleren</button>
        </div>
    </div>

    <button class="button_120"
            ng-show="!showDetailsComponents"
            ng-disabled="locationCertificate_details.$invalid || isEditDisabledForUser()"
            ng-click="bewaar()" style="float: center;">Opslaan
    </button>
    <button ng-show="!showDetailsComponents" class="button_120" ng-click="annuleer()" style="float: center;">
        Annuleren
    </button>
</div>
</div>