<div style=" margin-top: 10px">
    <p style="padding-right: 20px">
        <span class="politieblauw paginatitel">Corridors</span>
    </p>

    <div style="padding-left: 20px;padding-right: 20px">
        <table class="table table-bordered" >
            <thead>
            <tr  class="kolomtitel_tabel">
                <td style="display:none">id</td>
                <td>Naam</td>
                <td></td>
            </tr>
            </thead>
            <tbody>

            <tr  class="tabel_inhoud_met_background_color"
                 ng-repeat="corridor in traject.corridors">

                <td data-ng-show="false">{{corridor.id}}</td>
                <td style="width:200px">{{ corridor.name}}</td>

                <td style="width:120px">
                    <button class="btn-link" ng-disabled="isbtnDisabled"
                            ng-click="wijzigen(corridor.id);disableLinks();">
                        Wijzig
                    </button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <div ng-form="corridor_details" ng-show="showDetails"
         name="corridor_details"
         class="form-horizontal subbox_basic" novalidate>

        <div  class="form-group">
            <label class="label_basic" for="sectieNaam">Naam</label>
            <input class="input_basic" id="sectieNaam" name="sectieNaam" type="text" ng-model="sectie.naam"
                   ng-pattern="/^[a-zA-Z0-9]*$/"
                   required
                   ng-maxlength="20"
                   ng-trim="false"
                   ng-disabled="isEditDisabledForUser()"/>
            <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip" title="Dit veld bevat het nummer van de sectie en bestaat uit een of meerdere tekens."></i>
        </div>

        <div  class="form-group">
            <label class="label_basic" for="HmpPassagepuntIn">Hmp passagepunt In</label>
            <select class="input_basic input_basic_select" id="HmpPassagepuntIn" ng-model="sectie.hmpPassagepuntIn" ng-change="getPossiblePassagepunten()"
                    data-ng-options="o.hectometer for o in hmpPassagepuntenIn track by o.gantryId" required ng-disabled="isEditDisabledForUser()">
                <option value="">-- Kies --</option>
            </select>
            <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip"
               title="De hectometerlocatie van het entry portaal.">
            </i>
        </div>

        <div  class="form-group">
            <label class="label_basic" for="HmpPassagepuntUit">Hmp passagepunt Uit</label>
            <select class="input_basic input_basic_select" id="HmpPassagepuntUit" ng-model="sectie.hmpPassagepuntUit"
                    data-ng-options="o.hectometer for o in hmpPassagepuntenUit track by o.gantryId" required ng-disabled="isEditDisabledForUser()">
                <option value="">-- Kies --</option>
            </select>
            <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip"
               title="De hectometerlocatie van het exit portaal.">
            </i>
        </div>

        <button class="button_120"
                ng-disabled="corridor_details.$invalid || isEditDisabledForUser()"
                ng-click="bewaar()" style="float: center;">Opslaan</button>
        <button class="button_120" ng-click="annuleer()" style="float: center;">Annuleren</button>
    </div>
</div>
