<div >
    <p class="politieblauw paginatitel">Verdragslanden</p>

    <div style="padding-left: 20px;padding-right: 20px">
        <table class="table table-bordered" >
            <thead>
            <tr  class="kolomtitel_tabel">
                <td>Verdragsland</td>
                <td></td>
            </tr>
            </thead>
            <tbody>

            <tr  class="tabel_inhoud_met_background_color"
                 ng-repeat="land in verdragslanden| orderBy:'land'">

                <td style="width:200px">{{ land.isoCode }}</td>
                <td style="width:120px">
                    <button class="btn-link" ng-disabled="isLinkDisabled" ng-click="wijzig(land.isoCode)">
                        Wijzig
                    </button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <div ng-form="verdragsland_partial" ng-show="showDetails"
         name="instellingen_traject_partial"
         class="form-horizontal subbox_basic" novalidate>

        <div  class="form-group">
            <label class="label_basic">Verdragsland:</label>
            <label class="label_basic">{{verdragsland.isoCode}}</label>
        </div>

        <div  class="form-group">
            <label class="label_basic" for="actief">Actief</label>
            <input class="input_select_basic" id="actief" type="checkbox"
                   ng-model="verdragsland.actief"
                   ng-disabled="isEditDisabledForUser()"/>
        </div>

        <ul  ng-show="errors.length>0" ng-repeat="item in errors">
            <li class="msg-error">{{ item.field }}: <strong>{{ item.error }}</strong>.</li>
        </ul>

        <button class="button_120"
                ng-disabled="isEditDisabledForUser()"
                ng-click="bewaar()" style="float: center;">Opslaan</button>
        <button class="button_120" ng-click="hideDetails();enableLinks();" style="float: center;">Annuleren</button>
    </div>



</div>
