<div style=" margin-top: 10px">
    <p style="padding-right: 20px">
        <span class="politieblauw paginatitel">Secties</span>
        <!--<button class="button_120"-->
                <!--ng-disabled="isbtnDisabled"-->
                <!--ng-click="addnew()"-->
                <!--ng-show="!isEditDisabledForUser()"-->
                <!--style="float: right;">Toevoegen</button>-->
    </p>

    <div style="padding-left: 20px;padding-right: 20px">
        <table class="table table-bordered" >
            <thead>
            <tr  class="kolomtitel_tabel">
                <td style="display:none">id</td>
                <td>Naam</td>
                <td>Beschrijving</td>
                <td>Begin Passagepunt</td>
                <td>Eind Passagepunt</td>
                <td>Lengte (meters)</td>
                <td>Type</td>
                <td></td>
            </tr>
            </thead>
            <tbody>

            <tr  class="tabel_inhoud_met_background_color"
                 ng-repeat="section in sections">

                <td data-ng-show="false">{{section.id}}</td>
                <td style="width:200px">{{ section.name}}</td>
                <td style="width:120px">{{ section.description }}</td>
                <td style="width:120px">{{ section.startGantryName }}</td>
                <td style="width:120px">{{ section.endGantryName}}</td>
                <td style="width:120px">{{ section.length }}</td>
                <td style="width:120px">{{ getType(section) }}</td>

                <td style="width:120px">
                    <button class="btn-link" ng-disabled="isbtnDisabled" ng-click="wijzigen(section.id);disableLinks();">
                        Wijzig
                    </button>
                    <button class="btn-link"
                            ng-show="section.isInUse==false && !isEditDisabledForUser()"
                            ng-click="verwijder(section.id)"
                            ng-disabled="isbtnDisabled">
                       | Verwijder
                    </button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <div ng-form="section_details" ng-show="showDetails"
         name="section_details"
         class="form-horizontal subbox_basic" novalidate>

        <div  class="form-group">
            <label class="label_basic" for="beginpassagepunt">Begin Passagepunt:</label>
            <select class="input_basic input_basic_select"
                    id="beginpassagepunt"
                    ng-model="section.startGantryId"

                    data-ng-options="o.id as o.name for o in gantries"
                    required
                    ng-disabled="isEditDisabledForUser()  || isAddnew==false">
                <option value="">-- Kies --</option>
            </select>
        </div>

        <div  class="form-group">
            <label class="label_basic" for="eindpassagepunt">Eind Passagepunt:</label>
            <select class="input_basic input_basic_select"
                    id="eindpassagepunt"
                    ng-model="section.endGantryId"
                    data-ng-options="o.id as o.name for o in gantries"
                    required
                    ng-disabled="isEditDisabledForUser()  || isAddnew==false">
                <option value="">-- Kies --</option>
            </select>
        </div>

        <div  class="form-group">
            <label class="label_basic" for="naam">Naam:</label>
            <input class="input_basic" id="naam" type="text" required ng-disabled="isEditDisabledForUser()" ng-model="section.name"/>
        </div>

        <div  class="form-group">
            <label class="label_basic" for="beschrijving">Beschrijving:</label>
            <input class="input_basic" id="beschrijving" type="text" required ng-disabled="isEditDisabledForUser()" ng-model="section.description"/>
        </div>

        <div  class="form-group">
            <label class="label_basic" for="lengte">Lengte:</label>
            <input class="input_basic" id="lengte" type="number" required ng-disabled="isEditDisabledForUser()" ng-model="section.length"/>
        </div>


        <div  class="form-group">
            <label class="label_basic" for="matrixbordenidentificaties">Matrixborden Identificaties:</label>
            <input class="input_basic" id="matrixbordenidentificaties"
                   ng-pattern="/^\d+(,\d+)*$/"
                   required
                   type="text"
                   ng-disabled="isEditDisabledForUser()" ng-model="matrixBoards"/>
        </div>

        <ul class="msg-error" ng-show="errors.length>0">
            <li ng-repeat="error in errors" >
                {{ error.error}}
            </li>
        </ul>

        <button class="button_120"
                ng-disabled="section_details.$invalid || isEditDisabledForUser()"
                ng-click="bewaar(section.id)" style="float: center;">Opslaan</button>
        <button class="button_120" ng-click="annuleer()" style="float: center;">Annuleren</button>
    </div>
</div>