<div style=" margin-top: 10px">
    <p style="padding-right: 20px">
        <span class="politieblauw paginatitel">Passagepunten</span>
        <button class="button_120"
                ng-disabled="isbtnDisabled"
                ng-click="addnew()"
                ng-show="!isEditDisabledForUser()"
                style="float: right;">Toevoegen</button>
    </p>

    <div style="padding-left: 20px;padding-right: 20px">
        <table class="table table-bordered" >
            <thead>
            <tr  class="kolomtitel_tabel">
                <td style="display:none">id</td>
                <td style="display:none">version</td>
                <!--<td>Traject</td>-->
                <td>Naam</td>
                <!--<td>Rijbanen</td>-->
                <td>Hectometer</td>
                <td>Longtitude</td>
                <td>Latitude</td>
                <td></td>
            </tr>
            </thead>
            <tbody>

            <tr  class="tabel_inhoud_met_background_color"
                 ng-repeat="gantry in gantries">

                <td data-ng-show="false">{{gantry.id}}</td>
                <td data-ng-show="false">{{gantry.version}}</td>
                <!--<td style="width:200px">{{gantry.systemId}}</td>-->
                <td style="width:200px">{{ gantry.name}}</td>
                <!--<td style="width:120px">{{ gantry.laneConfigs.length }}</td>-->
                <td style="width:120px">{{ gantry.hectometer }}</td>
                <td style="width:120px">{{ gantry.longitude }}</td>
                <td style="width:120px">{{ gantry.latitude }}</td>
                <td style="width:120px">
                    <button class="btn-link"
                            ng-disabled="isbtnDisabled"
                            ng-click="wijzigen(gantry.systemId,gantry.id)">Wijzig</button>
                    <button class="btn-link"
                            ng-show="!isEditDisabledForUser() && gantry.isInUse==false"
                            ng-disabled="isbtnDisabled"
                            ng-click="deleteGantry(gantry.systemId,gantry.id,gantry.version)"
                            >| Verwijder</button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <div ng-form="onderhouden_passagepunten_partial" ng-show="showDetails"
         name="onderhouden_passagepunten_partial"
         class="form-horizontal subbox_basic" novalidate>

        <div  class="form-group" ng-show="isAddnew">
            <label class="label_basic" for="id">Id:</label>
            <input class="input_basic" id="id" type="text" required ng-model="gantry.id"  ng-disabled="isEditDisabledForUser()"/>
        </div>

        <div  class="form-group">
            <label class="label_basic" for="naam">Naam:</label>
            <input class="input_basic" id="naam" type="text" required ng-model="gantry.name" ng-disabled="isEditDisabledForUser()"/>
        </div>

        <div class="form-group">
            <label class="label_basic" for="hectometer">Hectometer:</label>
            <input ng-class="{'error-style':onderhouden_passagepunten_partial.hectometer.$error.float}"
                   class="input_basic"
                   name="hectometer"
                   id="hectometer" type="text"
                   required
                   ng-model="gantry.hectometer" ng-disabled="isEditDisabledForUser()"/>
        </div><!--hectometer-Paal is een validatie directive maar wordt niet meer gebruikt-->
        <div  class="form-group">
            <label class="label_basic" for="longtitude">Longtitude:</label>
            <input class="input_basic" id="longtitude" type="text" smart-float required ng-model="gantry.longitude"  ng-disabled="isEditDisabledForUser()"/>

        </div>
        <div  class="form-group">
            <label class="label_basic" for="latitude">Latitude:</label>
            <input class="input_basic" id="latitude" type="text" smart-float required ng-model="gantry.latitude"  ng-disabled="isEditDisabledForUser()"/>
        </div>

        <ul class="msg-error" ng-show="errors.length>0">
            <li ng-repeat="error in errors" >
                {{ error.error}}
            </li>
        </ul>

        <button class="button_120"
                ng-disabled="onderhouden_passagepunten_partial.$invalid || isEditDisabledForUser()"
                ng-click="bewaar(gantry.id)" style="float: center;">Opslaan</button>
        <button class="button_120" ng-click="hideDetails();enableLinks();" style="float: center;">Annuleren</button>
    </div>
</div>