<div >
    <p class="politieblauw paginatitel">Meldingen en storingen</p>
    <div style="padding-left: 20px;padding-right: 20px">
        <table class="table table-bordered" >
            <thead>
            <tr  class="kolomtitel_tabel">
                <td style="display:none">id</td>
                <td style="display:none">path</td>
                <td>Type Gebeurtenis</td>
                <td>Datum</td>
                <td>Type Component</td>
                <td>Bericht</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr  class="tabel_inhoud_met_background_color"
                 ng-repeat="melding in alarmenStoringen[0].errors">

                <td data-ng-show="false">{{melding.id}}</td>
                <td data-ng-show="false">{{melding.path}}</td>
                <td style="width:200px">{{ melding.errorTypeDisplay}}</td>
                <td style="width:120px">{{ melding.timestampDisplay }}</td>
                <td style="width:120px">{{ melding.configTypeDisplay }}</td>
                <td style="width:120px">{{ melding.message.substring(0, 100); }}</td>
                <td style="width:120px">
                    <button class="btn-link" ng-disabled="isbtnDisabled" ng-click="wijzigen(melding.id,melding.errorType,melding.path)">
                        Inzien
                    </button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <div ng-form="system_details_partial" ng-show="showDetails"
         name="system_meldingen_details"
         class="form-horizontal subbox_basic" novalidate>

        <div class="form-group">
            <label class="label_basic" for="typegebeurtenis">Type gebeurtenis:</label>
            <input class="input_basic" id="typegebeurtenis" type="text"  ng-readonly="true" ng-model="alarmStoring.errorTypeDisplay"/>
        </div>
        <div  class="form-group">
            <label class="label_basic" for="datum">Datum</label>
            <input class="input_basic" id="datum" type="text"  ng-readonly="true" ng-model="alarmStoring.timestampDisplay"/>
        </div>


        <div  class="form-group">
            <label class="label_basic" for="typecomponent">Type component:</label>
            <input class="input_basic" id="typecomponent" type="text"  ng-readonly="true" ng-model="alarmStoring.configTypeDisplay"/>
        </div>

        <div>
            <label class="label_basic" for="bericht">Bericht:</label>
            <textarea class="input_basic_long" id="bericht" ng-readonly="true" ng-model="alarmStoring.message"/>
        </div>

        <div style="margin-top: 20px">
            <button class="button_120"
                    ng-disabled="isAfmeldenDisabledForUser()"
                    ng-click="afmelden(alarmStoring.id,alarmStoring.errorType,alarmStoring.path)" >Afmelden</button>
            <button class="button_120"
                    ng-disabled="isBevestigenDisabledForUser()"
                    ng-click="bevestigen(alarmStoring.id,alarmStoring.errorType,alarmStoring.path)" >Bevestigen</button>
            <button class="button_120"  ng-click="hideDetails();enableLinks();" >Sluiten</button>
        </div>
    </div>
</div>
