<div style=" margin-top: 10px">
    <p style="padding-right: 20px">
        <span class="politieblauw paginatitel">Geinstalleerde Certificaten</span>
        <button class="button_120"
                ng-disabled="isbtnDisabled"
                ng-click="addnew()"
                ng-show="!isEditDisabledForUser()"
                style="float: right;">Toevoegen</button>
    </p>

    <div style="padding-left: 20px;padding-right: 20px">
        <table class="table table-bordered" >
            <thead>
            <tr  class="kolomtitel_tabel">
                <td style="display:none">id</td>
                <td>Typegoedkeurings nummer</td>
                <td>Revisie nummer</td>
                <td>Installatie datum</td>
                <td>Certificaat actief</td>
                <td></td>
            </tr>
            </thead>
            <tbody>

            <tr  class="tabel_inhoud_met_background_color"
                 ng-repeat="certificaat in certificaten">

                <td data-ng-show="false">{{certificaat.id}}</td>
                <td style="width:200px">{{ certificaat.certificate.typeCertificate.id }}</td>
                <td style="width:80px">{{ certificaat.certificate.typeCertificate.revisionNr }}</td>
                <td style="width:160px">{{ certificaat.installDateDisplay }}</td>
                <td style="width:160px">{{ certificaat.active? 'ja':'nee' }}</td>
                <td style="width:120px">
                    <button class="btn-link"
                            ng-show="!isEditDisabledForUser() && !certificaat.active"
                            ng-disabled="isbtnDisabled"
                            ng-click="deleteGeinstalleerdCertificaat(certificaat.id)"
                            >Verwijder</button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <div ng-form="onderhouden_geinstalleerde_certificaten_partial" ng-show="showDetails"
         name="onderhouden_geinstalleerde_certificaten_partial"
         class="form-horizontal subbox_basic" novalidate>

        <div  class="form-group">
            <label class="label_basic" for="availableCertificaten">Type certificaat:</label>
            <select class="input_basic input_basic_select"
                    id="availableCertificaten"
                    ng-model="installedCertificate.typeId"
                    data-ng-options="o.id as o.name for o in availableInstalledCertificering"
                    required
                    ng-disabled="isEditDisabledForUser()  || isAddnew==false">
                <option value="">-- Kies --</option>
            </select>
        </div>

        <div class="form-group">
            <label class="label_basic" for="installDate">Installatie datum:</label>
            <input class="input_basic" id="installDate"
                   type="text"
                   ng-pattern="/^(?:(?:31(-)(?:0[13578]|1[02]))\1|(?:(?:29|30)(-)(?:0[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(-)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0[1-9]|1\d|2[0-8])(-)(?:(?:0[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$/"
                   required
                   ng-disabled="isEditDisabledForUser()"
                   ng-model="installedCertificate.installDate"/>
            <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip" title="dd-mm-yyyy"></i>
        </div>

        <div class="form-group">
            <label class="label_basic" for="installDateTime">Installatie tijd:</label>
            <input class="input_basic" id="installDateTime"
                   type="text"
                   ng-pattern="/^([01]\d|2[0-3]):([0-5]\d)$/"
                   required
                   ng-disabled="isEditDisabledForUser()"
                   ng-model="installedCertificate.installDateTime"/>
            <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip" title="uu:mm"></i>
        </div>

        <ul class="msg-error" ng-show="errors.length>0">
            <li ng-repeat="error in errors" >
                {{ error.error}}
            </li>
        </ul>

        <button class="button_120"
                ng-disabled="onderhouden_geinstalleerde_certificaten_partial.$invalid || isEditDisabledForUser()"
                ng-click="bewaar(1)" style="float: center;">Opslaan</button>
        <button class="button_120" ng-click="hideDetails();enableLinks();" style="float: center;">Annuleren</button>
    </div>
</div>