<div style=" margin-top: 10px">
    <p class="politieblauw paginatitel">Trajectcontrolesysteem</p>

    <div style="padding-left: 20px;padding-right: 20px">
        <table class="table table-bordered" >
            <thead>
            <tr  class="kolomtitel_tabel">
                <td style="display:none">systemId</td>
                <td>Traject</td>
                <td></td>
            </tr>
            </thead>
            <tbody>

            <tr  class="tabel_inhoud_met_background_color"
                 ng-repeat="system in systems">

                <td data-ng-show="false">{{system.id}}</td>
                <td style="width:200px">{{system.name}}</td>
                <td style="width:120px">
                    <button class="btn-link" ng-disabled="isbtnDisabled" ng-click="wijzigen(system.id)">
                        Wijzigen
                    </button>

                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <div ng-form="traject_details_partial" ng-show="showDetails"
         name="traject_details_partial"
         class="form-horizontal subbox_basic" novalidate>

        <div  class="form-group">
            <label class="label_basic_long" for="systemname">Titel:</label>
            <input class="input_basic" id="systemname" type="text"
                   ng-maxlength="50"
                   required
                   ng-model="system.system.data.title"
                   ng-disabled="isEditDisabledForUser()"/>
        </div>

        <div  class="form-group">
            <label class="label_basic_long" for="beschrijving">Beschrijving:</label>
            <input class="input_basic" id="beschrijving"
                   ng-maxlength="50"
                   type="text" required  ng-model="system.system.data.location.description" ng-disabled="isEditDisabledForUser()"/>
        </div>

        <div  class="form-group">
            <label class="label_basic_long" for="region">Regio:</label>
            <input class="input_basic" id="region" type="text" required  ng-model="system.system.data.location.region" ng-disabled="isEditDisabledForUser()"/>
        </div>

        <div  class="form-group">
            <label class="label_basic_long" for="roadNumber">Wegnummer:</label>
            <input class="input_basic" id="roadNumber" type="text" required  ng-model="system.system.data.location.roadNumber" ng-disabled="isEditDisabledForUser()"/>
        </div>

        <div  class="form-group">
            <label class="label_basic_long" for="maxSpeed">Algemeen geldende snelheid:</label>
            <input class="input_basic" id="maxSpeed" type="number"
                   min="20"
                   max="250"
                   required  ng-model="system.system.data.maxSpeed" ng-disabled="isEditDisabledForUser()"/>
            <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip"
               title="Een waarde tussen de 20 en 250.">
            </i>
        </div>

        <div  class="form-group">
            <label class="label_basic_long" for="orderNumber">Dagrapport nr:</label>
            <input class="input_basic" id="orderNumber" type="number" required  ng-model="system.system.data.orderNumber" ng-disabled="isEditDisabledForUser()"/>
            <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip"
               title="Numerieke waarde.">
            </i>
        </div>

        <div  class="form-group">
            <label class="label_basic_long" for="compressionFactor">Compressie factor:</label>
            <input class="input_basic" id="compressionFactor" type="number" min="0" max="100" required  ng-model="system.system.data.compressionFactor" ng-disabled="isEditDisabledForUser()"/>
            <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip"
               title="Een waarde tussen de 0 en 100.">
            </i>
        </div>

        <div  class="form-group">
            <label class="label_basic_long" for="serialNumber">Serienummer:</label>
            <input class="input_basic" id="serialNumber" type="text" required  ng-model="system.system.data.serialNumber.serialNumber" ng-disabled="isEditDisabledForUser()"/>
        </div>

        <div  class="form-group">
            <label class="label_basic_long" for="serialNumberPrefix">Serienummer voorloop:</label>
            <input class="input_basic" id="serialNumberPrefix" type="text" required
                   ng-model="system.system.data.serialNumber.serialNumberPrefix"
                   ng-disabled="isEditDisabledForUser()"/>
        </div>

        <div  class="form-group">
            <label class="label_basic_long" for="serialNumberLength">Serienummer lengte:</label>
            <input class="input_basic" id="serialNumberLength" type="number" required  ng-model="system.system.data.serialNumber.serialNumberLength" ng-disabled="isEditDisabledForUser()"/>
            <i class="vertical_align_glyphicon glyphicon glyphicon-info-sign" rel="tooltip"
               title="Numerieke waarde.">
            </i>
        </div>

        <ul class="msg-error" ng-show="errors.length>0">
            <li ng-repeat="error in errors" >
                {{ error.field}}: {{ error.error}}
            </li>
        </ul>

        <button class="button_120"
                ng-disabled="traject_details_partial.$invalid || isEditDisabledForUser()"
                ng-click="bewaar()" style="float: center;">Opslaan</button>
        <button class="button_120" ng-click="annuleer()" style="float: center;">Annuleren</button>
    </div>
</div>