<div >
    <p class="politieblauw paginatitel">Statistieken</p>

    <div style="padding-left: 20px;padding-right: 20px">
        <table class="table table-bordered" >
            <thead>
            <tr  class="kolomtitel_tabel">
                <td style="display:none">id</td>
                <td>Dag</td>
                <td>Datum aanmaak</td>
                <td></td>
            </tr>
            </thead>
            <tbody>

            <tr  class="tabel_inhoud_met_background_color"
                 ng-repeat="statistic in filteredStatistics">
                <td data-ng-show="false">{{statistic.id}}</td>
                <td style="width:200px">{{ statistic.dayDisplay }}</td>
                <td style="width:200px">{{ statistic.createDateDisplay}}</td>
                <td style="width:120px">
                    <button class="btn-link" ng-click="wijzigen(statistic.id)"
                       ng-disabled="isbtnDisabled">Inzien</button> |
                    <a class="btn-link" target="_self" ng-href="{{adresStatistiek(statistic.id)}}"
                       ng-disabled="isbtnDisabled">Download</a>
            </tr>
            </tbody>
        </table>
        <div ng-show="!isbtnDisabled">
        <pagination
                    previous-text="vorige"
                    next-text="volgende"
                    total-items="totalItems"
                    ng-model="currentPage"
                    ng-change="pageChanged()"
                    max-size="maxSize"
                    items-per-page="itemsPerPage"
                    ></pagination></div>
    </div>

    <div ng-form="statisticsReport" ng-show="showDetails"
         name="instellingen_traject_partial"
         class="form-horizontal subbox_basic" novalidate
         style="padding-left: 10px;padding-right: 10px">

        <table class="table table-bordered" >
            <thead>
            <tr  class="kolomtitel_tabel">
                <td>HH-Traject</td>
                <td>Type</td>
                <td>Naam</td>
                <td>Waarde</td>
            </tr>
            </thead>
            <tbody>

            <tr  class="tabel_inhoud_met_background_color" ng-repeat="regel in statisticsReport">
                <td style="width:150px">{{ regel.a}} {{ regel.b}} {{ regel.c}}</td>
                <td style="width:150px">{{ regel.d}}</td>
                <td style="width:150px">{{ regel.e}}</td>
                <td style="width:150px">{{ regel.f}}</td>
           </tr>
            </tbody>
        </table>
        <button class="button_120" ng-click="hideDetails();enableLinks();" style="float: center;">Sluiten</button>
    </div>

</div>