<div >
    <p class="politieblauw paginatitel">Rollen</p>

    <div style="padding-left: 20px;padding-right: 20px">
        <table class="table table-bordered" >
            <thead>
            <tr  class="kolomtitel_tabel">
                <td style="display:none">id</td>
                <td>Naam</td>
                <td></td>
            </tr>
            </thead>
            <tbody>

            <tr  class="tabel_inhoud_met_background_color"
                 ng-repeat="rol in rollen">

                <td data-ng-show="false">{{rol.id}}</td>
                <td style="width:200px">{{rol.name}}</td>
                <td style="width:120px">
                    <button class="btn-link" ng-disabled="isbtnDisabled" ng-click="wijzigen(rol.id)">
                        Wijzigen
                    </button>

                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <div ng-form="system_details_partial" ng-show="showDetails"
         name="system_gebuikers_details"
         class="form-horizontal subbox_basic" novalidate>

        <div  class="form-group">
            <label class="label_basic">Naam:</label>
            <label class="label_basic">{{rol.name}}:</label>
        </div>

        <div  class="form-group">
            <label class="label_basic">Omschrijving:</label>
            <label class="label_basic">{{rol.description}}:</label>
        </div>

        <div  class="form-group">
            <label class="label_basic">Aantal in rol:</label>
            <label class="label_basic">{{rol.numberOfPeople}}:</label>
        </div>

        <div  >
            <label style="width: 400px" ng-repeat="permittedAction in permittedActions">
                <input class="input_select_basic_left" type="checkbox" checklist-model="rol.actionIds"  checklist-value="permittedAction.id"> {{permittedAction.name}}. Verbalisantcode: {{permittedAction.reportingofficeridRequired?'Ja':'Nee'}}
            </label>
        </div>

        <button class="button_120" ng-click="bewaar()" style="float: center;">Opslaan</button>
        <button class="button_120" ng-click="hideDetails();enableLinks();" style="float: center;">Annuleren</button>
    </div>
</div>
