<form novalidate class="css-form" name="myForm">
    <div>
        <!--let op dat het eerste item voor alle rollen beschikbaar is. Want deze wordt ook aangeroepen door het boevenste systeem menu-->
        <!--door partial-top-tab-menu-header-->
        <ul tabset vertical="true" type="pills">
            <li tabheading heading="Meldingen"
                ui-sref="systeem.onderhoudenmeldingenstoringen" ui-sref-active="active">
                <a href="#" >Meldingen & storingen</a>
            </li>

            <li tabheading heading="Systeembronnen"
                 ui-sref-active="active">
                <a href={{getSystemResources()}} target="_blank">Systeembronnen</a>
            </li>

            <li ng-show="isInRoleTechnischBeheer() || isInRoleTactischBeheer()" tabheading heading="Verdragslanden"
                ui-sref="systeem.onderhoudenverdragslanden" ui-sref-active="active">
                <a href="#" >Verdragslanden</a>
            </li>
            <li ng-show="isInRoleTechnischBeheer() || isInRoleTactischBeheer()" tabheading heading="Gebruikers"
                ui-sref="systeem.onderhoudengebruikers" ui-sref-active="active">
                <a href="#" >Gebruikers</a>
            </li>

            <li ng-show="isInRoleTechnischBeheer() || isInRoleTactischBeheer()" tabheading heading="Certificaten"
                ui-sref="systeem.onderhoudencertificaten" ui-sref-active="active">
                <a href="#" >Type Certificaten</a>
            </li>

            <li ng-show="isInRoleTechnischBeheer() || isInRoleTactischBeheer()"  heading="Geinstalleerde Certificaten"
                ui-sref="systeem.onderhoudenCertificatenGeinstalleerd" ui-sref-active="active">
                <a href="#" >Geinstalleerde Type Certificaten</a>
            </li>
            <li ng-show="isInRoleTechnischBeheer() || isInRoleTactischBeheer()" tabheading heading="Locatie Certificaten"
                ui-sref="systeem.onderhoudenCertificatenlocatie" ui-sref-active="active">
                <a href="#" >Locatie Certificaten</a>
            </li>
            <li ng-show="isInRoleTechnischBeheer() || isInRoleTactischBeheer()" tabheading heading="Passagepunten"
                ui-sref="systeem.onderhoudenpassagepunten" ui-sref-active="active">
                <a href="#" >Passagepunten</a>
            </li>
            <li ng-show="isInRoleTechnischBeheer() || isInRoleTactischBeheer()" tabheading heading="Rijbanen"
                ui-sref="systeem.onderhoudenrijbanen" ui-sref-active="active">
                <a href="#" >Rijstroken</a>
            </li>
            <li ng-show="isInRoleTechnischBeheer() || isInRoleTactischBeheer()" tabheading heading="Secties"
                ui-sref="systeem.onderhoudenSecties" ui-sref-active="active">
                <a href="#" >Secties</a>
            </li>
            <li ng-show="isInRoleTechnischBeheer() || isInRoleTactischBeheer()" tabheading heading="Corridors"
                ui-sref="systeem.onderhoudenCorridors" ui-sref-active="active">
                <a href="#" >Corridors</a>
            </li>
            <li ng-show="isInRoleTechnischBeheer() || isInRoleTactischBeheer()" tabheading heading="Rollen"
                ui-sref="systeem.onderhoudenRollen" ui-sref-active="active">
                <a href="#" >Rollen</a>
            </li>

            <li ng-show="isInRoleTechnischBeheer() || isInRoleTactischBeheer()" tabheading heading="Traject"
                ui-sref="systeem.onderhoudenTrajectcontrolesysteem" ui-sref-active="active">
                <a href="#" >Traject</a>
            </li>

            <li ng-show="isInRoleTechnischBeheer() || isInRoleTactischBeheer()" tabheading heading="Statistieken"
                ui-sref="systeem.onderhoudenStatistics" ui-sref-active="active">
                <a href="#" >Statistieken</a>
            </li>
        </ul tabset>
    </div>
</form>
	   
