<div ng-form="logboek-zoeken-resultaat-partial" class="centerButtonWrapper">
    <p style="margin-left: 0px" class="politieblauw subtitel">Resultaat zoekopdracht</p>
    <table class="table table-hover table-striped table-bordered table_fixed">
        <thead>
        <tr  class="kolomtitel_tabel">
            <td style="width: 85px">Datum</td>
            <td style="width: 50px">Tijd</td>
            <td style="width: 300px">Actie</td>
            <td style="width: 55px">Sectie</td>
            <td style="width: 80px">Gebruiker</td>
            <td style="width: 90px">Rol</td>
        </tr>
        </thead>
        <tbody>

        <tr style="width: 100%" class="tabel_inhoud_met_background_color" ng-repeat="logboekregel in logboek">
            <td style="width: 85px">{{ getDateFromStringLogboek(logboekregel.timestamp) }}</td>
            <td style="width: 50px">{{ getTimeFromStringLogboek(logboekregel.timestamp) }}</td>
            <td style="width: 300px">Gebeurtenis:{{ logboekregel.eventDisplay }} Bericht:{{ logboekregel.reason }}</td>
            <td style="width: 55px">{{ logboekregel.corridor }}</td>
            <td style="width: 80px">{{ logboekregel.userDisplay }}</td>
            <td style="width: 90px">{{ logboekregel.userRole }}</td>
        </tr>

        </tbody>
    </table>
    <div class="centerButtonWrapper">
        <button ng-click="downloadLogboek()"
                class="button_120 centerButton"
                ng-disabled="buttonDisabledDownload">
            Download
        </button>
    </div>
</div>