<div novalidate>
    <p class="politieblauw paginatitel">Logboek handhaving</p>
    <p class="politieblauw subtitel">Tijdpad selecteren</p>

    <div style="padding-left: 0px" class="subbox_basic centerButtonWrapper" ng-form="logboek-zoeken-partial" novalidate>
        <div style="height:260px">
            <div style="display:inline-block; min-height:290px;">
                <div datepicker ng-model="logboekBeginDatum"
                     show-weeks="false"
                     datepicker-mode="'day'"
                     class="well well-sm"></div>
            </div>
            <div style="display:inline-block; min-height:290px;">
                <datepicker
                        ng-model="logboekEindDatum"
                        show-weeks="false"
                        datepicker-mode="'day'"
                        class="well well-sm"
                        ></datepicker>
            </div>
        </div>

        <div class="div_error_statistiek">
            <ul class="msg-error ul_error">
                <li ng-show="searchIsInvalid || noResults">
                    {{errorMsg}}
                </li>
            </ul>
        </div>

        <button type="button"
                class="button_120 centerButton"
                ng-disabled="buttonDisabledZoeken || searchIsInvalid"
                ng-click="zoeken()">Zoeken</button>

    </div>
    <div style="margin-left: 20px;margin-right: 20px" ng-include src="'app/views/logboek/logboek-zoeken-resultaat-partial.html'"></div>
</div>
