    <p ng-show="id==0 || id=='' || id==undefined" class="politieblauw paginatitel">Statistieken Traject</p>
    <p ng-show="id!=0" class="politieblauw paginatitel">Statistieken - Sectie {{title}}</p>
    <p class="politieblauw subtitel">Tijdpad selecteren</p>

    <div style="padding-left: 0px" class="subbox_basic centerButtonWrapper" ng-form="statistieken-zoeken-partial" novalidate>
        <div style="height:260px" >
            <div style="display:inline-block; min-height:290px;">
                <div datepicker ng-model="statistiekenBeginDatum"
                     show-weeks="false"
                     datepicker-mode="'day'"
                     class="well well-sm"></div>
            </div>
            <div style="display:inline-block; min-height:290px;">
                <datepicker
                        ng-model="statistiekenEindDatum"
                        show-weeks="false"
                        datepicker-mode="'day'"
                        class="well well-sm"
                        >
                        </datepicker>
            </div>
        </div>

        <div class="div_error_statistiek">
            <ul class="msg-error ul_error">
                <li ng-show="searchIsInvalid || noResults">
                    {{errorMsg}}
                </li>
            </ul>
        </div>

        <button type="button" class="button_120 centerButton"
                ng-disabled="isSearching || searchIsInvalid"
                ng-click="zoekenStatistieken()">Zoeken</button>

    </div>
    <div style="margin-left: 20px;margin-right: 20px" ng-include src="'app/views/statistieken/statistieken-zoeken-resultaat-partial.html'"></div>



