<div ng-form="statistieken-zoeken-resultaat-partial" novalidate class="centerButtonWrapper">
    <p style="margin-left: 0px" class="politieblauw subtitel">Resultaat zoekopdracht</p>


    <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr  class="kolomtitel_tabel">
            <td>Dag</td>
            <td>Passages</td>
            <td>Overtredingen</td>
            <td>Auto verw.</td>
            <td>Hand verw.</td>
            <td>Gemiddelde snelheid</td>
            <td>Hoogst gemeten</td>
        </tr>
        </thead>
        <tbody>

        <tr class="tabel_inhoud_met_background_color" ng-repeat="statistiek in statistieken">
            <td>{{ statistiek.datum }}</td>
            <td>{{ statistiek.passagesTotaal }}</td>
            <td>{{ statistiek.overtredingenTotaal }}</td>
            <td>{{ statistiek.overtredingenAuto }}</td>
            <td>{{ statistiek.overtredingenHand }}</td>
            <td>{{ inTrajectPartial ? "" : statistiek.snelheidGemiddeld }}</td>
            <td>{{ statistiek.snelheidMax }}</td>
        </tr>

        <tr class="blank_row" ng-show="statistieken.length>0">
            <td colspan="7"></td>
        </tr>

        <tr class="tabel_inhoud_met_background_color" ng-show="statistieken.length>0">
            <td>Totaal</td>
            <td>{{ totaalInPassages }}</td>
            <td>{{ overtredingenTotaal }}</td>
            <td>{{ overtredingenAuto }}</td>
            <td>{{ overtredingenHand }}</td>
            <td ng-hide="inTrajectPartial">{{ inTrajectPartial ? "" : snelheidGemiddeld }}</td>
            <td ng-show="inTrajectPartial" style="border-right: none"></td>
            <td style="border-left: none"><button ng-click="download()" class="button_120 centerButton"
                                                  ng-disabled="buttonDisabledDownload">Download</button></td>
        </tr>
        </tbody>
    </table>
</div>