<div >

    <p class="politieblauw paginatitel">Handhaving</p>
    <p class="politieblauw subtitel">Autonome handhaving op traject</p>
    <div style="padding-left: 20px;padding-right: 20px">
        <table class="table  table-bordered">
            <thead>
            <tr class="kolomtitel_tabel">
                <td style="display:none">id</td>
                <td>Sectie</td>
                <td>Rijrichting</td>
                <td>Status</td>
                <td></td>
            </tr>
            </thead>
            <tbody>

            <tr class="tabel_inhoud_zonder_background_color" ng-repeat="x in trajecten"

            ng-class="getbackgroundColor(x.state)"
            ng-class-odd="getbackgroundColor(x.state)">
            <td data-ng-show="false">{{x.id}}</td>
                <td style="width:90px;padding-top: 0px;padding-bottom: 0px;vertical-align: middle;">{{ x.sectie}}</td>
                <td style="width:150px;padding-top: 0px;padding-bottom: 0px;vertical-align: middle;">{{ x.rijRichting }}</td>
                <td  style="width:120px;padding-top: 0px;padding-bottom: 0px;vertical-align: middle;">{{ x.state }}</td>
                <td style="padding-top: 0px;padding-bottom: 0px;">
                    <div>
                        <button ng-hide="!isInRolePolitie" class="button_120" style="float: right;"
                                data-ng-click="naarHandhaven('system')"
                                ng-disabled="getHandhavenDisabled('system')"
                                 >Handhaven</button>
                        <button ng-hide="!isInRolePolitie"  class="button_120" style="float: right;margin-left: 10px;margin-right: 10px"
                                data-ng-click="naarStandby('system')"
                                ng-disabled="getStandbyDisabled('system')"
                                >Stand-by</button>
                        <button ng-hide="!isInRoleTechnischBeheer" class="button_90" style="float: right;"
                                data-ng-click="naarOff('system')"
                                ng-disabled="getOffDisabled('system')"
                                >Uit</button>
                        <button ng-hide="!isInRoleTechnischBeheer"  class="button_90" style="float: right;"
                                data-ng-click="naarStandbyFromOff('system')"
                                ng-disabled="getStandbyDisabled('system')"
                                >Stand-by</button>
                        <button ng-hide="!isInRoleTechnischBeheer"  class="button_90" style="float: right;"
                                data-ng-click="naarOnderhoud('system')"
                                ng-disabled="getOnderhoudDisabled('system')"
                                >Onderhoud</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>


    </div>
</div>
