<div >
    <p class="politieblauw subtitel">Certificering</p>
    <div style="padding-left: 20px;padding-right: 20px">
        <table class="table table-bordered" >
            <thead>
            <tr  class="kolomtitel_tabel">
                <td>Omschrijving</td>
                <td>Keuringsnummer</td>
                <td>Keuringsdatum</td>
                <td>Geldig tot</td>
            </tr>
            </thead>
            <tbody>

            <tr  class="tabel_inhoud_met_background_color"
                 ng-repeat="certificaat in certificaten | orderBy: 'omschrijving'">

                <td style="width:120px">{{ certificaat.omschrijving }}</td>
                <td style="width:120px">{{ certificaat.keuringsNummer }}</td>
                <td style="width:120px">{{ certificaat.keuringsDatum }}</td>
                <td >{{ certificaat.geldigTot }}</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
