    <div class="modal-header">
        <h3 >Info</h3>
    </div>
    <div class="modal-body">
        <p>Het verzoek is verstuurd. Een moment geduld aub.<p>
    </div>
    <div class="modal-footer">
        <button class="button_120" ng-click="ok()">OK</button>
    </div>
